/* TODO: clean this up */

html,
body {
  color: var(--gm3-sys-color-on-surface);
  background: var(--gm3-sys-color-surface);
}

a:visited {
  color: var(--gm3-sys-color-primary);
}


.appbar {
  color: var(--gm3-sys-color-primary);
}

div.bottom-links-wrapper {
  background: var(--gm3-sys-color-surface);
}

div.bottom-links a {
  color: var(--gm3-sys-color-primary);
}

.slmarker {
  border-left: 1px solid var(--gm3-sys-color-outline);
}

.goog-slider li {
  color: var(--gm3-sys-color-on-surface-variant);
}

.goog-slider:focus .goog-slider-thumb {
  border: 1px solid var(--gm3-sys-color-primary);
}


.jfk-button-action {
  box-shadow: none;
  background: var(--gm3-sys-color-primary);
  border: 1px solid var(--gm3-sys-color-primary);
  color: var(--gm3-sys-color-on-primary);
}

.jfk-button-action:hover {
  background: var(--gm3-sys-color-primary);
  box-shadow: 0 1px 2px var(--gm3-sys-color-shadow);
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-action:focus {
  box-shadow: inset 0 0 0 1px var(--gm3-sys-color-on-primary);
  border: 1px solid var(--gm3-sys-color-on-primary);
  outline: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-action:active {
  box-shadow: inset 0 1px 2px var(--gm3-sys-color-shadow);
  background: var(--gm3-sys-color-primary);
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-action.jfk-button-disabled {
  background: var(--gm3-sys-color-on-surface);
  opacity: 0.12;
  color: var(--gm3-sys-color-surface);
}


.jfk-button-contrast {
  box-shadow: none;
  background: var(--gm3-sys-color-surface);
  color: var(--gm3-sys-color-on-surface);
  border: 1px solid var(--gm3-sys-color-outline);
}

.jfk-button-contrast.jfk-button-hover,
.jfk-button-contrast.jfk-button-clear-outline.jfk-button-hover {
  box-shadow: none;
  background: var(--gm3-sys-color-surface-container-high);
  border: 1px solid var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-surface);
}

.jfk-button-contrast.jfk-button-selected,
.jfk-button-contrast.jfk-button-clear-outline.jfk-button-selected,
.jfk-button-contrast.jfk-button-checked,
.jfk-button-contrast.jfk-button-clear-outline.jfk-button-checked {
  background: var(--gm3-sys-color-secondary-container);
  border: 1px solid var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-secondary-container);
}

.jfk-button-contrast:focus {
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-contrast.jfk-button-disabled {
  background: var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-outline-variant);
  color: var(--gm3-sys-color-on-surface-variant);
}


.jfk-button-default {
  box-shadow: none;
  background: var(--gm3-sys-color-primary);
  border: 1px solid var(--gm3-sys-color-primary);
  color: var(--gm3-sys-color-on-primary);
  text-shadow: none;
}

.jfk-button-default.jfk-button-hover {
  box-shadow: none;
  background: var(--gm3-sys-color-primary);
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-default:focus {
  box-shadow: inset 0 0 0 1px var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-surface);
  outline: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-default:active {
  box-shadow: inset 0 1px 2px var(--gm3-sys-color-shadow);
  background: var(--gm3-sys-color-primary);
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-default.jfk-button-disabled {
  background: var(--gm3-sys-color-on-surface);
  opacity: 0.12;
}


.jfk-button-flat {
  border: 1px solid transparent;
}

.jfk-button-flat:focus {
  border: 1px solid var(--gm3-sys-color-primary);
}


.jfk-button-mini {
  background: var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-surface);
  text-shadow: none;
}

.jfk-button-mini.jfk-button-hover,
.jfk-button-mini.jfk-button-clear-outline.jfk-button-hover {
  background: var(--gm3-sys-color-surface-container-high);
  border: 1px solid var(--gm3-sys-color-outline);
  text-shadow: none;
}

.jfk-button-mini.jfk-button-checked,
.jfk-button-mini.jfk-button-clear-outline.jfk-button-checked {
  background: var(--gm3-sys-color-secondary-container);
  border: 1px solid var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-secondary-container);
}

.jfk-button-mini:focus {
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-mini.jfk-button-disabled {
  background: var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-outline-variant);
  color: var(--gm3-sys-color-on-surface-variant);
}


.jfk-button-primary {
  box-shadow: none;
  background: var(--gm3-sys-color-primary);
  border: 1px solid var(--gm3-sys-color-primary);
  color: var(--gm3-sys-color-on-primary);
  text-shadow: none;
}

.jfk-button-primary.jfk-button-hover {
  box-shadow: 0 1px 1px var(--gm3-sys-color-shadow);
  background: var(--gm3-sys-color-primary);
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-primary:focus {
  box-shadow: inset 0 0 0 1px var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-surface);
  outline: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-primary:active {
  box-shadow: inset 0 1px 2px var(--gm3-sys-color-shadow);
  background: var(--gm3-sys-color-primary);
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-primary.jfk-button-disabled {
  background: var(--gm3-sys-color-on-surface);
  opacity: 0.12;
}


.jfk-slideToggle {
  box-shadow: inset 0 1px 2px 0 var(--gm3-sys-color-shadow);
  background: var(--gm3-sys-color-surface-container-high);
  border: 1px solid var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-surface-variant);
}

.jfk-slideToggle-on {
  box-shadow: inset 0 1px 2px 0 var(--gm3-sys-color-shadow);
  background: var(--gm3-sys-color-primary);
  color: var(--gm3-sys-color-on-primary);
}

.jfk-slideToggle-thumb {
  box-shadow: 0 1px 2px 0 var(--gm3-sys-color-shadow);
  background: var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-outline);
}

.jfk-slideToggle-thumb::after {
  background-image: linear-gradient(to right, var(--gm3-sys-color-outline) 50%, transparent 50%),
    linear-gradient(to right, var(--gm3-sys-color-outline) 50%, transparent 50%),
    linear-gradient(to right, var(--gm3-sys-color-outline) 50%, transparent 50%),
    linear-gradient(to right, var(--gm3-sys-color-outline) 50%, transparent 50%),
    linear-gradient(to right, var(--gm3-sys-color-outline) 50%, transparent 50%);
}

.jfk-slideToggle:focus {
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-slideToggle.jfk-slideToggle-clearOutline {
  border: 1px solid var(--gm3-sys-color-outline);
}


.jfk-button-standard {
  box-shadow: none;
  background: var(--gm3-sys-color-surface);
  color: var(--gm3-sys-color-on-surface);
  border: 1px solid var(--gm3-sys-color-outline);
}

.jfk-button-standard.jfk-button-hover,
.jfk-button-standard.jfk-button-clear-outline.jfk-button-hover {
  box-shadow: none;
  background: var(--gm3-sys-color-surface-container-high);
  border: 1px solid var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-surface);
}

.jfk-button-standard:active,
.jfk-button-standard.jfk-button-hover:active {
  box-shadow: inset 0 1px 2px var(--gm3-sys-color-shadow);
  background: var(--gm3-sys-color-surface-container-highest);
  color: var(--gm3-sys-color-on-surface);
}

.jfk-button-standard.jfk-button-selected,
.jfk-button-standard.jfk-button-clear-outline.jfk-button-selected,
.jfk-button-standard.jfk-button-checked,
.jfk-button-standard.jfk-button-clear-outline.jfk-button-checked {
  background: var(--gm3-sys-color-secondary-container);
  border: 1px solid var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-secondary-container);
}

.jfk-button-standard:focus {
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-standard.jfk-button-clear-outline {
  border: 1px solid var(--gm3-sys-color-outline);
}

.jfk-button-standard.jfk-button-disabled {
  background: var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-outline-variant);
  color: var(--gm3-sys-color-on-surface-variant);
}


.jfk-palette-cell-hover {
  border: 1px solid var(--gm3-sys-color-on-surface);
}

.jfk-palette-cell-selected {
  outline: 1px solid var(--gm3-sys-color-on-surface);
}

.jfk-colorwell {
  border: 1px solid var(--gm3-sys-color-outline);
}


.goog-menu {
  box-shadow: 0 2px 4px var(--gm3-sys-color-shadow);
  background: var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-outline);
}

.goog-flat-menu-button {
  background: var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-surface);
}

.goog-flat-menu-button-disabled {
  background: var(--gm3-sys-color-surface);
  border-color: var(--gm3-sys-color-outline-variant);
  color: var(--gm3-sys-color-on-surface-variant);
}

.goog-flat-menu-button.goog-flat-menu-button-hover {
  background: var(--gm3-sys-color-surface-container-high);
  box-shadow: 0 1px 1px var(--gm3-sys-color-shadow);
  border-color: var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-surface);
}

.goog-flat-menu-button.goog-flat-menu-button-focused {
  border-color: var(--gm3-sys-color-primary);
}

.goog-flat-menu-button.goog-flat-menu-button-open,
.goog-flat-menu-button.goog-flat-menu-button-active {
  background: var(--gm3-sys-color-secondary-container);
  border: 1px solid var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-secondary-container);
}

.goog-flat-menu-button-dropdown {
  border-color: var(--gm3-sys-color-on-surface-variant) transparent;
}

.goog-flat-menu-button-active .goog-flat-menu-button-dropdown,
.goog-flat-menu-button-open .goog-flat-menu-button-dropdown,
.goog-flat-menu-button-selected .goog-flat-menu-button-dropdown,
.goog-flat-menu-button-hover .goog-flat-menu-button-dropdown {
  border-color: var(--gm3-sys-color-on-surface) transparent;
}


.goog-menuitem,
.goog-tristatemenuitem,
.goog-filterobsmenuitem {
  color: var(--gm3-sys-color-on-surface);
}

.goog-menuitem-disabled {
  cursor: default;
}

.goog-menuitem-disabled .goog-menuitem-accel,
.goog-menuitem-disabled .goog-menuitem-content {
  color: var(--gm3-sys-color-on-surface-variant) !important;
}

.goog-menuitem-highlight,
.goog-menuitem-hover {
  background: var(--gm3-sys-color-surface-container-high);
  border-color: var(--gm3-sys-color-surface-container-high);
}

.goog-menuitem-highlight .goog-menuitem-content,
.goog-menuitem-hover .goog-menuitem-content {
  color: var(--gm3-sys-color-on-surface);
}

.goog-menuitem-accel {
  color: var(--gm3-sys-color-on-surface-variant);
}

.goog-menuitem-mnemonic-separator {
  color: var(--gm3-sys-color-on-surface-variant);
}


.goog-slider-thumb {
  background: var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-outline);
}

.goog-slider-thumb:hover {
  background: var(--gm3-sys-color-surface-container-high);
  border-color: var(--gm3-sys-color-outline);
}

.goog-slider-horizontal .goog-slider-scale,
.goog-slider-vertical .goog-slider-scale {
  border-color: var(--gm3-sys-color-outline);
}


.jfk-textinput {
  border: 1px solid var(--gm3-sys-color-outline);
  border-top: 1px solid var(--gm3-sys-color-outline);
}

.jfk-textinput:focus {
  box-shadow: inset 0 1px 2px var(--gm3-sys-color-shadow);
  border: 1px solid var(--gm3-sys-color-primary);
}


.jfk-radiobutton-radio {
  background: transparent;
  border: 1px solid var(--gm3-sys-color-outline);
}

.jfk-radiobutton:active .jfk-radiobutton-radio {
  background: var(--gm3-sys-color-surface-container-high);
  border-color: var(--gm3-sys-color-outline);
}

.jfk-radiobutton:hover .jfk-radiobutton-radio {
  box-shadow: inset 0 1px 1px var(--gm3-sys-color-shadow);
  border-color: var(--gm3-sys-color-outline);
}

.jfk-radiobutton-checked .jfk-radiobutton-radio {

  background: transparent;
}

.jfk-radiobutton-checked .jfk-radiobutton-radio::after {
  background: var(--gm3-sys-color-primary);
  border: 2px solid var(--gm3-sys-color-primary);
}

.jfk-radiobutton-disabled .jfk-radiobutton-radio {
  border-color: var(--gm3-sys-color-outline-variant);
}

.jfk-radiobutton-disabled.jfk-radiobutton-checked .jfk-radiobutton-radio::after {
  background: var(--gm3-sys-color-on-surface-variant);
}

.jfk-radiobutton-disabled .jfk-radiobutton-label {
  color: var(--gm3-sys-color-on-surface-variant);
}

.jfk-radiobutton-disabled:active .jfk-radiobutton-radio,
.jfk-radiobutton-disabled:hover .jfk-radiobutton-radio {
  background: var(--gm3-sys-color-surface);
  border-color: var(--gm3-sys-color-outline-variant);
}


.jfk-scrollbar::-webkit-scrollbar-track {
  border: solid transparent;
}

.jfk-scrollbar::-webkit-scrollbar-track:hover {
  background: var(--gm3-sys-color-surface-container);
  box-shadow: inset 1px 0 0 var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar::-webkit-scrollbar-track:horizontal:hover {
  box-shadow: inset 0 1px 0 var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar::-webkit-scrollbar-track:active {
  background: var(--gm3-sys-color-surface-container);
  box-shadow: inset 1px 0 0 var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar::-webkit-scrollbar-track:horizontal:active {
  box-shadow: inset 0 1px 0 var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-track:hover {
  background: var(--gm3-sys-color-surface-container-high);
  box-shadow: inset 1px 0 0 var(--gm3-sys-color-outline);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-track:horizontal:hover {
  box-shadow: inset 0 1px 0 var(--gm3-sys-color-outline);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-track:active {
  background: var(--gm3-sys-color-surface-container-high);
  box-shadow: inset 1px 0 0 var(--gm3-sys-color-outline);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-track:horizontal:active {
  box-shadow: inset 0 1px 0 var(--gm3-sys-color-outline);
}

.jfk-scrollbar::-webkit-scrollbar-thumb {
  background: var(--gm3-sys-color-outline);
  border: solid transparent;
  box-shadow: inset 1px 1px 0 var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar::-webkit-scrollbar-thumb:horizontal {
  box-shadow: inset 1px 1px 0 var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--gm3-sys-color-outline);
  box-shadow: inset 1px 1px 1px var(--gm3-sys-color-shadow);
}

.jfk-scrollbar::-webkit-scrollbar-thumb:active {
  background: var(--gm3-sys-color-outline);
  box-shadow: inset 1px 1px 3px var(--gm3-sys-color-shadow);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-thumb {
  background: var(--gm3-sys-color-outline);
  box-shadow: inset 1px 1px 0 var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-thumb:horizontal {
  box-shadow: inset 1px 1px 0 var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--gm3-sys-color-outline);
  box-shadow: inset 1px 1px 1px var(--gm3-sys-color-shadow);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-thumb:active {
  background: var(--gm3-sys-color-outline);
  box-shadow: inset 1px 1px 3px var(--gm3-sys-color-shadow);
}

.jfk-scrollbar-borderless.jfk-scrollbar::-webkit-scrollbar-track:hover {
  background: var(--gm3-sys-color-surface-container);
  box-shadow: inset 1px 1px 0 var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar-borderless.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-track:hover {
  background: var(--gm3-sys-color-surface-container-high);
  box-shadow: inset 1px 1px 0 var(--gm3-sys-color-outline-variant);
}


html,
body {
  color: var(--gm3-sys-color-on-surface);
  background: var(--gm3-sys-color-surface);
}

a:visited {
  color: var(--gm3-sys-color-primary);
}


.appbar {
  color: var(--gm3-sys-color-primary);
}


div.bottom-links-wrapper {
  background: var(--gm3-sys-color-surface);
}

div.bottom-links a {
  color: var(--gm3-sys-color-primary);
}


.slmarker {
  border-left: 1px solid var(--gm3-sys-color-outline);
}

.goog-slider li {
  color: var(--gm3-sys-color-on-surface-variant);
}

.goog-slider:focus .goog-slider-thumb {
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-action {
  box-shadow: none;
  background: var(--gm3-sys-color-primary);
  border: 1px solid var(--gm3-sys-color-primary);
  color: var(--gm3-sys-color-on-primary);
}

.jfk-button-action:hover {
  background: var(--gm3-sys-color-primary);
  box-shadow: 0 1px 2px var(--gm3-sys-color-shadow);
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-action:focus {
  box-shadow: inset 0 0 0 1px var(--gm3-sys-color-on-primary);
  border: 1px solid var(--gm3-sys-color-on-primary);
  outline: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-action:active {
  box-shadow: inset 0 1px 2px var(--gm3-sys-color-shadow);
  background: var(--gm3-sys-color-primary);
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-action.jfk-button-disabled {
  background: var(--gm3-sys-color-on-surface);
  opacity: 0.12;
  color: var(--gm3-sys-color-surface);
}


.jfk-button-contrast {
  box-shadow: none;
  background: var(--gm3-sys-color-surface);
  color: var(--gm3-sys-color-on-surface);
  border: 1px solid var(--gm3-sys-color-outline);
}

.jfk-button-contrast.jfk-button-hover,
.jfk-button-contrast.jfk-button-clear-outline.jfk-button-hover {
  box-shadow: none;
  background: var(--gm3-sys-color-surface-container-high);
  border: 1px solid var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-surface);
}

.jfk-button-contrast.jfk-button-selected,
.jfk-button-contrast.jfk-button-clear-outline.jfk-button-selected,
.jfk-button-contrast.jfk-button-checked,
.jfk-button-contrast.jfk-button-clear-outline.jfk-button-checked {
  background: var(--gm3-sys-color-secondary-container);
  border: 1px solid var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-secondary-container);
}

.jfk-button-contrast:focus {
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-contrast.jfk-button-disabled {
  background: var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-outline-variant);
  color: var(--gm3-sys-color-on-surface-variant);
}


.jfk-button-default {
  box-shadow: none;
  background: var(--gm3-sys-color-primary);
  border: 1px solid var(--gm3-sys-color-primary);
  color: var(--gm3-sys-color-on-primary);
  text-shadow: none;
}

.jfk-button-default.jfk-button-hover {
  box-shadow: none;
  background: var(--gm3-sys-color-primary);
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-default:focus {
  box-shadow: inset 0 0 0 1px var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-surface);
  outline: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-default:active {
  box-shadow: inset 0 1px 2px var(--gm3-sys-color-shadow);
  background: var(--gm3-sys-color-primary);
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-default.jfk-button-disabled {
  background: var(--gm3-sys-color-on-surface);
  opacity: 0.12;
}

.jfk-button-flat {
  border: 1px solid transparent;
}

.jfk-button-flat:focus {
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-mini {
  background: var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-surface);
  text-shadow: none;
}

.jfk-button-mini.jfk-button-hover,
.jfk-button-mini.jfk-button-clear-outline.jfk-button-hover {
  background: var(--gm3-sys-color-surface-container-high);
  border: 1px solid var(--gm3-sys-color-outline);
  text-shadow: none;
}

.jfk-button-mini.jfk-button-checked,
.jfk-button-mini.jfk-button-clear-outline.jfk-button-checked {
  background: var(--gm3-sys-color-secondary-container);
  border: 1px solid var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-secondary-container);
}

.jfk-button-mini:focus {
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-mini.jfk-button-disabled {
  background: var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-outline-variant);
  color: var(--gm3-sys-color-on-surface-variant);
}

.jfk-button-primary {
  box-shadow: none;
  background: var(--gm3-sys-color-primary);
  border: 1px solid var(--gm3-sys-color-primary);
  color: var(--gm3-sys-color-on-primary);
  text-shadow: none;
}

.jfk-button-primary.jfk-button-hover {
  box-shadow: 0 1px 1px var(--gm3-sys-color-shadow);
  background: var(--gm3-sys-color-primary);
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-primary:focus {
  box-shadow: inset 0 0 0 1px var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-surface);
  outline: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-primary:active {
  box-shadow: inset 0 1px 2px var(--gm3-sys-color-shadow);
  background: var(--gm3-sys-color-primary);
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-primary.jfk-button-disabled {
  background: var(--gm3-sys-color-on-surface);
  opacity: 0.12;
}

.jfk-slideToggle {
  box-shadow: inset 0 1px 2px 0 var(--gm3-sys-color-shadow);
  background: var(--gm3-sys-color-surface-container-high);
  border: 1px solid var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-surface-variant);
}

.jfk-slideToggle-on {
  box-shadow: inset 0 1px 2px 0 var(--gm3-sys-color-shadow);
  background: var(--gm3-sys-color-primary);
  color: var(--gm3-sys-color-on-primary);
}

.jfk-slideToggle-thumb {
  box-shadow: 0 1px 2px 0 var(--gm3-sys-color-shadow);
  background: var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-outline);
}

.jfk-slideToggle-thumb::after {
  background-image: linear-gradient(to right, var(--gm3-sys-color-outline) 50%, transparent 50%),
    linear-gradient(to right, var(--gm3-sys-color-outline) 50%, transparent 50%),
    linear-gradient(to right, var(--gm3-sys-color-outline) 50%, transparent 50%),
    linear-gradient(to right, var(--gm3-sys-color-outline) 50%, transparent 50%),
    linear-gradient(to right, var(--gm3-sys-color-outline) 50%, transparent 50%);
}

.jfk-slideToggle:focus {
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-slideToggle.jfk-slideToggle-clearOutline {
  border: 1px solid var(--gm3-sys-color-outline);
}

.jfk-button-standard {
  box-shadow: none;
  background: var(--gm3-sys-color-surface);
  color: var(--gm3-sys-color-on-surface);
  border: 1px solid var(--gm3-sys-color-outline);
}

.jfk-button-standard.jfk-button-hover,
.jfk-button-standard.jfk-button-clear-outline.jfk-button-hover {
  box-shadow: none;
  background: var(--gm3-sys-color-surface-container-high);
  border: 1px solid var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-surface);
}

.jfk-button-standard:active,
.jfk-button-standard.jfk-button-hover:active {
  box-shadow: inset 0 1px 2px var(--gm3-sys-color-shadow);
  background: var(--gm3-sys-color-surface-container-highest);
  color: var(--gm3-sys-color-on-surface);
}

.jfk-button-standard.jfk-button-selected,
.jfk-button-standard.jfk-button-clear-outline.jfk-button-selected,
.jfk-button-standard.jfk-button-checked,
.jfk-button-standard.jfk-button-clear-outline.jfk-button-checked {
  background: var(--gm3-sys-color-secondary-container);
  border: 1px solid var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-secondary-container);
}

.jfk-button-standard:focus {
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-button-standard.jfk-button-clear-outline {
  border: 1px solid var(--gm3-sys-color-outline);
}

.jfk-button-standard.jfk-button-disabled {
  background: var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-outline-variant);
  color: var(--gm3-sys-color-on-surface-variant);
}

.jfk-palette-cell-hover {
  border: 1px solid var(--gm3-sys-color-on-surface);
}

.jfk-palette-cell-selected {
  outline: 1px solid var(--gm3-sys-color-on-surface);
}

.jfk-colorwell {
  border: 1px solid var(--gm3-sys-color-outline);
}

.goog-menu {
  box-shadow: 0 2px 4px var(--gm3-sys-color-shadow);
  background: var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-outline);
}

.goog-flat-menu-button {
  background: var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-surface);
}

.goog-flat-menu-button-disabled {
  background: var(--gm3-sys-color-surface);
  border-color: var(--gm3-sys-color-outline-variant);
  color: var(--gm3-sys-color-on-surface-variant);
}

.goog-flat-menu-button.goog-flat-menu-button-hover {
  background: var(--gm3-sys-color-surface-container-high);
  box-shadow: 0 1px 1px var(--gm3-sys-color-shadow);
  border-color: var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-surface);
}

.goog-flat-menu-button.goog-flat-menu-button-focused {
  border-color: var(--gm3-sys-color-primary);
}

.goog-flat-menu-button.goog-flat-menu-button-open,
.goog-flat-menu-button.goog-flat-menu-button-active {
  background: var(--gm3-sys-color-secondary-container);
  border: 1px solid var(--gm3-sys-color-outline);
  color: var(--gm3-sys-color-on-secondary-container);
}

.goog-flat-menu-button-dropdown {
  border-color: var(--gm3-sys-color-on-surface-variant) transparent;
}

.goog-flat-menu-button-active .goog-flat-menu-button-dropdown,
.goog-flat-menu-button-open .goog-flat-menu-button-dropdown,
.goog-flat-menu-button-selected .goog-flat-menu-button-dropdown,
.goog-flat-menu-button-hover .goog-flat-menu-button-dropdown {
  border-color: var(--gm3-sys-color-on-surface) transparent;
}

.goog-menuitem,
.goog-tristatemenuitem,
.goog-filterobsmenuitem {
  color: var(--gm3-sys-color-on-surface);
}

.goog-menuitem-disabled {
  cursor: default;
}

.goog-menuitem-disabled .goog-menuitem-accel,
.goog-menuitem-disabled .goog-menuitem-content {
  color: var(--gm3-sys-color-on-surface-variant) !important;
}

.goog-menuitem-highlight,
.goog-menuitem-hover {
  background: var(--gm3-sys-color-surface-container-high);
  border-color: var(--gm3-sys-color-surface-container-high);
}

.goog-menuitem-highlight .goog-menuitem-content,
.goog-menuitem-hover .goog-menuitem-content {
  color: var(--gm3-sys-color-on-surface);
}

.goog-menuitem-accel {
  color: var(--gm3-sys-color-on-surface-variant);
}

.goog-menuitem-mnemonic-separator {
  color: var(--gm3-sys-color-on-surface-variant);
}

.goog-slider-thumb {
  background: var(--gm3-sys-color-surface);
  border: 1px solid var(--gm3-sys-color-outline);
}

.goog-slider-thumb:hover {
  background: var(--gm3-sys-color-surface-container-high);
  border-color: var(--gm3-sys-color-outline);
}

.goog-slider-horizontal .goog-slider-scale,
.goog-slider-vertical .goog-slider-scale {
  border-color: var(--gm3-sys-color-outline);
}

.jfk-textinput {
  border: 1px solid var(--gm3-sys-color-outline);
  border-top: 1px solid var(--gm3-sys-color-outline);
  background: transparent;
}

.jfk-textinput:focus {
  box-shadow: inset 0 1px 2px var(--gm3-sys-color-shadow);
  border: 1px solid var(--gm3-sys-color-primary);
}

.jfk-radiobutton-radio {
  background: transparent;
  border: 1px solid var(--gm3-sys-color-outline);
}

.jfk-radiobutton:active .jfk-radiobutton-radio {
  background: var(--gm3-sys-color-surface-container-high);
  border-color: var(--gm3-sys-color-outline);
}

.jfk-radiobutton:hover .jfk-radiobutton-radio {
  box-shadow: inset 0 1px 1px var(--gm3-sys-color-shadow);
  border-color: var(--gm3-sys-color-outline);
}

.jfk-radiobutton-checked .jfk-radiobutton-radio {
  background: transparent;
}

.jfk-radiobutton-checked .jfk-radiobutton-radio::after {
  background: var(--gm3-sys-color-primary);
  border: 2px solid var(--gm3-sys-color-primary);
}

.jfk-radiobutton-disabled .jfk-radiobutton-radio {
  border-color: var(--gm3-sys-color-outline-variant);
}

.jfk-radiobutton-disabled.jfk-radiobutton-checked .jfk-radiobutton-radio::after {
  background: var(--gm3-sys-color-on-surface-variant);
}

.jfk-radiobutton-disabled .jfk-radiobutton-label {
  color: var(--gm3-sys-color-on-surface-variant);
}

.jfk-radiobutton-disabled:active .jfk-radiobutton-radio,
.jfk-radiobutton-disabled:hover .jfk-radiobutton-radio {
  background: var(--gm3-sys-color-surface);
  border-color: var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar::-webkit-scrollbar-track {
  border: solid transparent;
}

.jfk-scrollbar::-webkit-scrollbar-track:hover {
  background: var(--gm3-sys-color-surface-container);
  box-shadow: inset 1px 0 0 var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar::-webkit-scrollbar-track:horizontal:hover {
  box-shadow: inset 0 1px 0 var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar::-webkit-scrollbar-track:active {
  background: var(--gm3-sys-color-surface-container);
  box-shadow: inset 1px 0 0 var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar::-webkit-scrollbar-track:horizontal:active {
  box-shadow: inset 0 1px 0 var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-track:hover {
  background: var(--gm3-sys-color-surface-container-high);
  box-shadow: inset 1px 0 0 var(--gm3-sys-color-outline);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-track:horizontal:hover {
  box-shadow: inset 0 1px 0 var(--gm3-sys-color-outline);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-track:active {
  background: var(--gm3-sys-color-surface-container-high);
  box-shadow: inset 1px 0 0 var(--gm3-sys-color-outline);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-track:horizontal:active {
  box-shadow: inset 0 1px 0 var(--gm3-sys-color-outline);
}

.jfk-scrollbar::-webkit-scrollbar-thumb {
  background: var(--gm3-sys-color-outline);
  border: solid transparent;
  box-shadow: inset 1px 1px 0 var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar::-webkit-scrollbar-thumb:horizontal {
  box-shadow: inset 1px 1px 0 var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--gm3-sys-color-outline);
  box-shadow: inset 1px 1px 1px var(--gm3-sys-color-shadow);
}

.jfk-scrollbar::-webkit-scrollbar-thumb:active {
  background: var(--gm3-sys-color-outline);
  box-shadow: inset 1px 1px 3px var(--gm3-sys-color-shadow);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-thumb {
  background: var(--gm3-sys-color-outline);
  box-shadow: inset 1px 1px 0 var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-thumb:horizontal {
  box-shadow: inset 1px 1px 0 var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--gm3-sys-color-outline);
  box-shadow: inset 1px 1px 1px var(--gm3-sys-color-shadow);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-thumb:active {
  background: var(--gm3-sys-color-outline);
  box-shadow: inset 1px 1px 3px var(--gm3-sys-color-shadow);
}

.jfk-scrollbar-borderless.jfk-scrollbar::-webkit-scrollbar-track:hover {
  background: var(--gm3-sys-color-surface-container);
  box-shadow: inset 1px 1px 0 var(--gm3-sys-color-outline-variant);
}

.jfk-scrollbar-borderless.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-track:hover {
  background: var(--gm3-sys-color-surface-container-high);
  box-shadow: inset 1px 1px 0 var(--gm3-sys-color-outline-variant);
}

body.jfk-scrollbar::-webkit-scrollbar-track-piece {
  background: var(--gm3-sys-color-surface);
  border: solid var(--gm3-sys-color-surface);
  box-shadow: inset 1px 0 0 var(--gm3-sys-color-outline-variant);
}

body.jfk-scrollbar::-webkit-scrollbar-track-piece:horizontal {
  box-shadow: inset 0 1px 0 var(--gm3-sys-color-outline-variant);
}

body.jfk-scrollbar::-webkit-scrollbar-corner {
  background: var(--gm3-sys-color-surface);
  border: solid var(--gm3-sys-color-surface);
  box-shadow: inset 1px 1px 0 var(--gm3-sys-color-outline-variant);
}

body.jfk-scrollbar::-webkit-scrollbar-track-piece {
  background: var(--gm3-sys-color-surface);
  border: solid var(--gm3-sys-color-surface);
  box-shadow: inset 1px 0 0 var(--gm3-sys-color-outline-variant);
}

body.jfk-scrollbar::-webkit-scrollbar-track-piece:horizontal {
  box-shadow: inset 0 1px 0 var(--gm3-sys-color-outline-variant);
}

body.jfk-scrollbar::-webkit-scrollbar-corner {
  background: var(--gm3-sys-color-surface);
  border: solid var(--gm3-sys-color-surface);
  box-shadow: inset 1px 1px 0 var(--gm3-sys-color-outline-variant);
}