/* ==UserStyle== 
@name           Vercel Catppuccin
@namespace      github.com/catppuccin/vercel
@version        0.0.2
@description    Soothing pastel theme for Vercel
@author         Catppuccin
@updateURL      https://github.com/catppuccin/vercel/raw/main/catppuccin.user.css
@preprocessor   stylus
@var select theme "Theme" ["Latte", "Frappe", "Macchiato", "Mocha*"]
==/UserStyle== */

@-moz-document domain("vercel.com") {
  if (theme=="Latte") {
      $type = light

      $rosewater = #dc8a78
      $flamingo = #dd7878
      $pink = #ea76cb
      $mauve = #8839ef
      $red = #d20f39
      $maroon = #e64553
      $peach = #fe640b
      $yellow = #df8e1d
      $green = #40a02b
      $teal = #179299
      $sky = #04a5e5
      $sapphire = #209fb5
      $blue = #1e66f5
      $lavender = #7287fd
      $text = #4c4f69
      $subtext1 = #5c5f77
      $subtext0 = #6c6f85
      $overlay2 = #7c7f93
      $overlay1 = #8c8fa1
      $overlay0 = #9ca0b0
      $surface2 = #acb0be
      $surface1 = #bcc0cc
      $surface0 = #ccd0da
      $base = #eff1f5
      $mantle = #e6e9ef
      $crust = #dce0e8
      $shadow = #dbdfef
  } else if (theme=="Frappe") {
      $type = dark

      $rosewater = #f2d5cf
      $flamingo = #eebebe
      $pink = #f4b8e4
      $mauve = #ca9ee6
      $red = #e78284
      $maroon = #ea999c
      $peach = #ef9f76
      $yellow = #e5c890
      $green = #a6d189
      $teal = #81c8be
      $sky = #99d1db
      $sapphire = #85c1dc
      $blue = #8caaee
      $lavender = #babbf1
      $text = #c6d0f5
      $subtext1 = #b5bfe2
      $subtext0 = #a5adce
      $overlay2 = #949cbb
      $overlay1 = #838ba7
      $overlay0 = #737994
      $surface2 = #626880
      $surface1 = #51576d
      $surface0 = #414559
      $base = #303446
      $mantle = #292c3c
      $crust = #232634
      $shadow = #010409
  } else if (theme=="Macchiato") {
      $type = dark

      $rosewater = #f4dbd6
      $flamingo = #f0c6c6
      $pink = #f5bde6
      $mauve = #c6a0f6
      $red = #ed8796
      $maroon = #ee99a0
      $peach = #f5a97f
      $yellow = #eed49f
      $green = #a6da95
      $teal = #8bd5ca
      $sky = #91d7e3
      $sapphire = #7dc4e4
      $blue = #8aadf4
      $lavender = #b7bdf8
      $text = #cad3f5
      $subtext1 = #b8c0e0
      $subtext0 = #a5adcb
      $overlay2 = #939ab7
      $overlay1 = #8087a2
      $overlay0 = #6e738d
      $surface2 = #5b6078
      $surface1 = #494d64
      $surface0 = #363a4f
      $base = #24273a
      $mantle = #1e2030
      $crust = #181926
      $shadow = #010409
  }
  else if (theme=="Mocha") {
      $type = dark

      $rosewater = #f5e0dc
      $flamingo = #f2cdcd
      $pink = #f5c2e7
      $mauve = #cba6f7
      $red = #f38ba8
      $maroon = #eba0ac
      $peach = #fab387
      $yellow = #f9e2af
      $green = #a6e3a1
      $teal = #94e2d5
      $sky = #89dceb
      $sapphire = #74c7ec
      $lavender = #b4befe
      $blue = #89b4fa
      $text = #cdd6f4
      $subtext1 = #bac2de
      $subtext0 = #a6adc8
      $overlay2 = #9399b2
      $overlay1 = #7f849c
      $overlay0 = #6c7086
      $surface2 = #585b70
      $surface1 = #45475a
      $surface0 = #313244
      $base = #1e1e2e
      $mantle = #181825
      $crust = #11111b
      $shadow = #010409
  }

  :root {
    --geist-foreground: $text;
    --geist-background: $mantle;
    --accents-1: $base;
    --accents-2: $surface0;
    --accents-3: $surface1;
    --accents-4: $surface2;
    --accents-5: $overlay0;
    --accents-6: $overlay1;
    --accents-7: $overlay2;
    --accents-8: $subtext0;
    --geist-link-color: $rosewater;
    --geist-selection: $subtext0;
    --geist-success: $blue;
    --geist-error: $red;
    --geist-cyan: $teal;
    --_1psdadq8: $overlay0;
    --_1psdadq1n: $maroon;
  }

  if (theme=="Latte") {
    div.jsx-138561840.menu > div.item.hover:hover {
      background-color: var(--accents-2) !important;
    }

    div.jsx-138561840.menu > div.item.active {
      background-color: transparent !important;
    }
  }
  
  svg {
    --geist-stroke: var(--geist-background) !important;
  }
  
  .button_ghost__sBWMh {
    --lighten-color: transparent !important;
  }
  
  .feedback-input_geist-feedback-input__PxEnJ:hover .feedback-input_feedback-wrapper__mCwSO .feedback-input_placeholder__ZKdJ6 {
    color: var(--geist-foreground);
  }
}
