/* ==UserStyle==
@name           HackerNews Catppuccin
@namespace      github.com/catppuccin/hacker-news
@version        0.1.0
@description    Soothing pastel theme for HackerNews
@author         Catppuccin
@updateURL      https://github.com/catppuccin/hacker-news/raw/main/catppuccin.user.css
@preprocessor   stylus
@var select theme "Theme" ["Latte", "Frappe", "Macchiato", "Mocha*"]
==/UserStyle== */
@-moz-document url-prefix("https://news.ycombinator.com") {
    if (theme=="Latte") {
        $type = light
        
        $rosewater = hsl(10.8, 58.8%, 66.7%)
        $flamingo  = hsl(0, 59.8%, 66.9%)
        $pink      = hsl(316, 73.4%, 69%)
        $mauve     = hsl(266, 85%, 58%)
        $red       = hsl(347.1, 86.7%, 44.1%)
        $maroon    = hsl(354.8, 76.3%, 58.6%)
        $peach     = hsl(22, 99.2%, 52%)
        $yellow    = hsl(34.9, 77%, 49.4%)
        $green     = hsl(109.2, 57.6%, 39.8%)
        $teal      = hsl(183.2, 73.9%, 34.5%)
        $sky       = hsl(197.1, 96.6%, 45.7%)
        $sapphire  = hsl(188.9, 70%, 41.8%)
        $blue      = hsl(219.9, 91.5%, 53.9%)
        $lavender  = hsl(230.9, 97.2%, 72%)
        $text      = hsl(233.8, 16%, 35.5%)
        $subtext1  = hsl(233.3, 12.8%, 41.4%)
        $subtext0  = hsl(232.8, 10.4%, 47.3%)
        $overlay2  = hsl(232.2, 9.6%, 53.1%)
        $overlay1  = hsl(231.4, 10%, 59%)
        $overlay0  = hsl(228, 11.2%, 65.1%)
        $surface2  = hsl(226.7, 12.2%, 71%)
        $surface1  = hsl(225, 13.6%, 76.9%)
        $surface0  = hsl(222.9, 15.9%, 82.7%)
        $base      = hsl(220, 23.1%, 94.9%)
        $mantle    = hsl(220, 22%, 92%)
        $crust     = hsl(220, 20.7%, 88.6%)
    }
    else if (theme=="Frappe") {
        $type = dark
        
        $rosewater = hsl(10.3, 57.4%, 88%)
        $flamingo  = hsl(0, 58.5%, 83.9%)
        $pink      = hsl(316, 73.2%, 83.9%)
        $mauve     = hsl(276.7, 59%, 76.1%)
        $red       = hsl(358.8, 67.8%, 70.8%)
        $maroon    = hsl(357.8, 65.9%, 75.9%)
        $peach     = hsl(20.3, 79.1%, 70%)
        $yellow    = hsl(39.5, 62%, 73.1%)
        $green     = hsl(95.8, 43.9%, 67.8%)
        $teal      = hsl(171.5, 39.2%, 64.5%)
        $sky       = hsl(189.1, 47.8%, 72.9%)
        $sapphire  = hsl(198.6, 55.4%, 69.2%)
        $blue      = hsl(221.6, 74.2%, 74.1%)
        $lavender  = hsl(238.9, 66.3%, 83.7%)
        $text      = hsl(227.2, 70.1%, 86.9%)
        $subtext1  = hsl(226.7, 43.7%, 79.8%)
        $subtext0  = hsl(228.3, 29.5%, 72.7%)
        $overlay2  = hsl(227.7, 22.3%, 65.7%)
        $overlay1  = hsl(226.7, 17%, 58.4%)
        $overlay0  = hsl(229.1, 13.4%, 51.6%)
        $surface2  = hsl(228, 13.3%, 44.3%)
        $surface1  = hsl(227.1, 14.7%, 37.3%)
        $surface0  = hsl(230, 15.6%, 30.2%)
        $base      = hsl(229.1, 18.6%, 23.1%)
        $mantle    = hsl(230.5, 18.8%, 19.8%)
        $crust     = hsl(229.4, 19.5%, 17.1%)
    }
    else if (theme=="Macchiato") {
        $type = dark
        
        $rosewater = hsl(10, 57.7%, 89.8%)
        $flamingo  = hsl(0, 58.3%, 85.9%)
        $pink      = hsl(316.1, 73.7%, 85.1%)
        $mauve     = hsl(266.5, 82.7%, 79.6%)
        $red       = hsl(351.2, 73.9%, 72.9%)
        $maroon    = hsl(355.1, 71.4%, 76.7%)
        $peach     = hsl(21.4, 85.5%, 72.9%)
        $yellow    = hsl(40.3, 69.9%, 77.8%)
        $green     = hsl(105.2, 48.3%, 72%)
        $teal      = hsl(171.1, 46.8%, 69%)
        $sky       = hsl(188.8, 59.4%, 72.9%)
        $sapphire  = hsl(198.6, 65.6%, 69.2%)
        $blue      = hsl(220.2, 82.8%, 74.9%)
        $lavender  = hsl(234.5, 82.3%, 84.5%)
        $text      = hsl(227.4, 68.3%, 87.6%)
        $subtext1  = hsl(228, 39.2%, 80%)
        $subtext0  = hsl(227.4, 26.8%, 72.2%)
        $overlay2  = hsl(228.3, 20%, 64.7%)
        $overlay1  = hsl(227.6, 15.5%, 56.9%)
        $overlay0  = hsl(230.3, 12.4%, 49.2%)
        $surface2  = hsl(229.7, 13.7%, 41.4%)
        $surface1  = hsl(231.1, 15.6%, 33.9%)
        $surface0  = hsl(230.4, 18.8%, 26.1%)
        $base      = hsl(231.8, 23.4%, 18.4%)
        $mantle    = hsl(233.3, 23.1%, 15.3%)
        $crust     = hsl(235.7, 22.6%, 12.2%)
    }
    else if (theme=="Mocha") {
        $type = dark
    
        $rosewater = hsl(9.6, 55.6%, 91.2%)
        $flamingo  = hsl(0, 58.7%, 87.6%)
        $pink      = hsl(316.5, 71.8%, 86.1%)
        $mauve     = hsl(267.4, 83.5%, 81%)
        $red       = hsl(343.3, 81.2%, 74.9%)
        $maroon    = hsl(350.4, 65.2%, 77.5%)
        $peach     = hsl(23, 92%, 75.5%)
        $yellow    = hsl(41.4, 86%, 83.1%)
        $green     = hsl(115.5, 54.1%, 76.1%)
        $teal      = hsl(170, 57.4%, 73.3%)
        $sky       = hsl(189.2, 71%, 72.9%)
        $sapphire  = hsl(198.5, 75.9%, 69%)
        $lavender  = hsl(231.9, 97.4%, 85.1%)
        $blue      = hsl(217.2, 91.9%, 75.9%)
        $text      = hsl(226.2, 63.9%, 88%)
        $subtext1  = hsl(226.7, 35.3%, 80%)
        $subtext0  = hsl(227.6, 23.6%, 71.8%)
        $overlay2  = hsl(228.4, 16.8%, 63.7%)
        $overlay1  = hsl(229.7, 12.8%, 55.5%)
        $overlay0  = hsl(230.8, 10.7%, 47.5%)
        $surface2  = hsl(232.5, 12%, 39.2%)
        $surface1  = hsl(234.3, 13.2%, 31.2%)
        $surface0  = hsl(236.8, 16.2%, 22.9%)
        $base      = hsl(240, 21.1%, 14.9%)
        $mantle    = hsl(240, 21.3%, 12%)
        $crust     = hsl(240, 22.7%, 8.6%)
    }

    /* Main background */
    #hnmain {
        background-color: $base;
    }
    /* Main body padding background */
    body {
        background-color: $base;
    }


    /* Background of the FAQ and main page */
    body>center>table>tbody>tr>td {
        background-color: $base;
        color: $text;
    }

   

    /* Top bar */
    #hnmain>tbody>tr:nth-child(1)>td {
        background-color: $peach;
    }

    /* Hacker News text in top bar */
    #hnmain>tbody>tr:nth-child(1)>td>table>tbody>tr>td:nth-child(2)>span>b>a {
        color: $surface0;
    }

    /* Logged-in user karma */
    #karma {
        color: $surface1;
    }

    /* Separator characters around logged-in user karma */
    #hnmain>tbody>tr:nth-child(1)>td>table>tbody>tr>td:nth-child(3)>span {
        color: $surface1;
    }

    /* Visited top bar links */
    .pagetop a:visited {
        color: $surface1;
    }

    /* Unvisited top bar links */
    .pagetop a:link {
        color: $surface0;
    }

    /* Links */
    a:link {
        color: $blue;
    }

    /* More link */
    .hnmore a:link,
    a:visited {
        color: $lavender;
    }

    /* New user color */
    .hnuser>font {
        color: $green;
    }

    /* Story site link */
    .comhead a:link,
    .subtext a:visited {
        color: $peach;
    }

    /* Story points */
    .score {
        color: $subtext0;
    }

    /* Story ranking number */
    .title {
        color: $lavender;
    }

    /* Comment text */
    .commtext {
        color: $text;
    }

    /* Comment hyperlinks */
    .commtext a:link {
        color: $sapphire;
    }

    /* Comment box */
    textarea,
    input {
        background-color: $surface0;
        color: $text;
        border-color: $teal;
    }

    /* Poll questions */
    td.comment>div>font {
        color: $text;
    }

    /* Bottom footer separator bar */
    #hnmain>tbody>tr:nth-child(4)>td>table>tbody>tr>td {
        background-color: $base;
    }

    /* Search bar text field */
    #hnmain>tbody>tr:nth-child(4)>td>center:nth-child(6)>form>input[type=text] {
        background-color: $surface0;
    }

    /* Search bar text  */
    #hnmain>tbody>tr:nth-child(4)>td>center:nth-child(6)>form {
        color: $text;
    }

    /* FAQ Questions */
    body>center>table>tbody>tr>td>p>b {
        color: $subtext1;
    }

    /* FAQ Header */
    body>center>table>tbody>tr>td>b {
        color: $subtext1;
    }

    /* Text post content */
    .toptext {
        color: $text;
    }

    /* Replace vote arrow with svg arrow and mask */
    .votearrow {
        background-image: url("data:image/svg+xml,%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd' %5B %3C!ENTITY ns_svg 'http://www.w3.org/2000/svg'%3E%3C!ENTITY ns_xlink 'http://www.w3.org/1999/xlink'%3E%0A%5D%3E%3Csvg xmlns='&ns_svg;' width='10' height='10' viewBox='0 0 10 10' fill-opacity='0' xml:space='preserve'%3E%3Cpolygon points='0,10 5,1 10,10 '/%3E%3C/svg%3E%0A");
        -webkit-mask-image: url("data:image/svg+xml,%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd' %5B %3C!ENTITY ns_svg 'http://www.w3.org/2000/svg'%3E%3C!ENTITY ns_xlink 'http://www.w3.org/1999/xlink'%3E%0A%5D%3E%3Csvg xmlns='&ns_svg;' width='10' height='10' viewBox='0 0 10 10' fill='black' xml:space='preserve'%3E%3Cpolygon points='0,10 5,1 10,10 '/%3E%3C/svg%3E%0A");
        mask-image: url("data:image/svg+xml,%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd' %5B %3C!ENTITY ns_svg 'http://www.w3.org/2000/svg'%3E%3C!ENTITY ns_xlink 'http://www.w3.org/1999/xlink'%3E%0A%5D%3E%3Csvg xmlns='&ns_svg;' width='10' height='10' viewBox='0 0 10 10' fill='black' xml:space='preserve'%3E%3Cpolygon points='0,10 5,1 10,10 '/%3E%3C/svg%3E%0A");
        background-color: $subtext0;
        height: 8;
    }
}