:root {
    --bg-color: #303446;
    --caret-color: #f2d5cf;
    --main-color: #a6d189;
    --sub-color: #626880;
    --sub-alt-color: #292c3c;
    --text-color: #c6d0f5;
    --error-color: #e78284;
    --error-extra-color: #ea999c;
    --colorful-error-color: #e78284;
    --colorful-error-extra-color: #ea999c;
   }
