:root {
    --bg-color: #eff1f5;
    --caret-color: #dc8a78;
    --main-color: #40a02b;
    --sub-color: #acb0be;
    --sub-alt-color: #e6e9ef;
    --text-color: #4c4f69;
    --error-color: #d20f39;
    --error-extra-color: #e64553;
    --colorful-error-color: #d20f39;
    --colorful-error-extra-color: #e64553;
   }
