:root {
    --bg-color: #1e1e2e;
    --caret-color: #f5e0dc;
    --main-color: #a6e3a1;
    --sub-color: #585b70;
    --sub-alt-color: #181825;
    --text-color: #cdd6f4;
    --error-color: #f38ba8;
    --error-extra-color: #eba0ac;
    --colorful-error-color: #f38ba8;
    --colorful-error-extra-color: #eba0ac;
   }
