/* ==UserStyle==
@name           Wikiwand Catppuccin
@namespace      github.com/catppuccin/userstyles/styles/wikiwand
@version        1.0.0
@description    Soothing pastel theme for wikiwand
@author         Catppuccin
@preprocessor   stylus
@var select theme "Theme" ["latte:Latte", "frappe:Frappe", "macchiato:Macchiato", "mocha:Mocha*"]
@var select accent "Accent" ["'rosewater'", "'flamingo'", "'pink'", "'mauve'", "'red'", "'maroon'", "'peach'", "'yellow'", "'green'", "'teal'", "'blue'*", "'sapphire'", "'sky'", "'lavender'"]
==/UserStyle== */

@-moz-document domain("wikiwand.com") {
  @import url("https://unpkg.com/@catppuccin/palette@0.1.6/css/catppuccin.css");
  :root { 
    --ctp-red: var(--ctp- + theme + "-red");
    --ctp-yellow: var(--ctp- + theme + "-yellow");
    --ctp-text: var(--ctp- + theme + "-text");
    --ctp-subtext0: var(--ctp- + theme + "-subtext0");
    --ctp-overlay0: var(--ctp- + theme + "-overlay0");
    --ctp-surface2: var(--ctp- + theme + "-surface2");
    --ctp-surface1: var(--ctp- + theme + "-surface1");
    --ctp-surface0: var(--ctp- + theme + "-surface0");
    --ctp-base: var(--ctp- + theme + "-base");
    --ctp-mantle: var(--ctp- + theme + "-mantle");
    --ctp-crust: var(--ctp- + theme + "-crust");
    --accent: var(--ctp- + theme + "-" + accent);
  }
    .root_dark__oGh5X,
  .root_light__Inhun {
    --color-bg: var(--ctp-base);
    --color-text: var(--ctp-text);
    --color-grey: var(--ctp-subtext0);
    --color-table: var(--ctp-surface0);
    --color-table-border: var(--ctp-surface0);
    --color-link: var(--accent);
    --toc-bg: var(--ctp-mantle);
    --toc-text: var(--ctp-text);
    --toc-border: var(--ctp-crust);
    --tag-bg: var(--ctp-surface0);
    --tag-text: var(--ctp-overlay1);
    --navbar-bg: var(--ctp-crust);
    --navbar-border: var(--ctp-mantle);
    --navbar-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2),
      0px 5px 10px rgba(0, 0, 0, 0.3);
  }
  .popover_arrow__pQSsX::before {
    background-color: var(--ctp-surface1);
    border: 1px solid var(--ctp-surface2);
  }
  *[class*="dropdown_item"] {
    color: var(--ctp-text);
  }
  .popover_popover__jgyGp {
    background-color: var(--ctp-surface1);
    border: 1px solid var(--ctp-surface2);
    border-radius: 0.625em;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .draggable_wrapper__YB014 {
    background-color: var(--ctp-surface1);
    border: 1px solid var(--ctp-surface0);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.3);
    color: var(--ctp-text);
  }
  .checkbox_checkbox__uXwIZ {
    width: 1.125em;
    height: 1.125em;
    border-radius: 0.125em;
    border: 1px solid var(--ctp-surface1);
    background-color: var(--ctp-surface2);
    position: relative;
  }
  .checkbox_checkbox__uXwIZ::before {
    background-color: var(--accent);
  }
  svg.audio_icon__eZ5Bx {
    color: var(--ctp-text);
  }
  .checkbox_label__V5gon,
  .audio_select__kmOPL {
    color: var(--ctp-subtext0) !important;
  }
  .draggable_header__bfxdq {
    border: 1px solid var(--ctp-surface1) !important;
  }
  .footer_donation__Cje_Q {
    display: none !important;
  }
  .dropdown_content__4NAxl {
    background-color: var(--ctp-surface1);
    border: 1px solid var(--ctp-surface2);
  }
  p.settings_setLabel__NrVBx:nth-child(3),
  article.settings_section__vRaq_:nth-child(1) {
    color: var(--ctp-text);
  }
  .toggle_label__y7mDQ {
    color: var(--ctp-text);
  }
  .toggle_bg__Qn4Oc {
    background-color: var(--accent);
  }
  .toggle_label__y7mDQ.toggle_active__l_k3F {
    color: var(--ctp-base);
  }
  .toggle_label__y7mDQ:not(.toggle_active__l_k3F):hover {
    color: var(--accent);
  }
  .themeBtn_wrapper__KTkHk.themeBtn_active__4gb_I,
  .themeBtn_wrapper__KTkHk:hover {
    color: var(--accent);
  }
  .themeBtn_label__GyvdH {
    color: var(--subtext1);
  }
  .toggle_toggle__jzkKG {
    background-color: var(--ctp-surface2);
  }
  .settings_reset__GO2x4 {
    border-top: 1px solid var(--ctp-surface2);
  }
  .settings_resetBtn__3yLrG {
    color: var(--ctp-text);
  }
  .settings_resetBtn__3yLrG:not(.settings_disabled__7X7Nu):hover {
    color: var(--ctp-red);
  }
  .themeBtn_label__GyvdH span {
    background-color: var(--ctp-surface2);
    border: 1px solid var(--ctp-surface2);
  }
  .themeBtn_wrapper__KTkHk.themeBtn_active__4gb_I .themeBtn_demoWrapper__fdi7G {
    border: 1px solid var(--accent) !important;
  }
  div.themeBtn_wrapper__KTkHk:nth-child(3) > p:nth-child(2) > span:nth-child(1)::before {
    background-color: var(--accent);
  }
  .item_item__uLhiz.item_active__4kaIV {
    color: var(--accent);
  }
  .item_item__uLhiz.item_active__4kaIV,
  .item_item__uLhiz:hover {
    background-color: var(--ctp-surface2);
  }
  .languages_wrapper__1Ad3R {
    color: var(--subtext1);
  }
  .input_input__uGeT_ {
    color: var(--ctp-text);
    background-color: var(--ctp-overlay0);
    border-radius: 4px;
  }
  .input_wrapper__aeypb {
    border: none !important;
  }
  .action_action___vLQg {
    color: var(--accent);
  }
  .share_btn__9IJpe {
    color: var(--ctp-text);
    background-color: var(--ctp-surface2);
    border: var(--ctp-surface2);
  }
  .share_btn__9IJpe span {
    color: var(--ctp-text);
  }
  .footer_socialWrapper__R1iSQ *:hover,
  .footer_link__TA4rr:hover {
    color: var(--accent);
  }
  .list_wrapper__TYM2l,
  .input_wrapper__aeypb {
    background-color: var(--ctp-surface1);
    color: var(--ctp-text);
  }
  .input_wrapper__aeypb * {
    color: var(--ctp-text);
  }
  .list_item_VVizU:hover {
    background-color: var(--ctp-surface2) !important;
  }
  .search_header__gqnk7.search_article__L3Khv {
    background: transparent;
  }
  .item_item__jj0Ue {
    color: var(--ctp-text);
  }
  .item_item__jj0Ue:hover {
    background-color: var(--ctp-surface2) !important;
    border-color: var(--accent);
  }
  .modal_header__t094_ {
    border-color: var(--ctp-surface1);
    color: var(--ctp-text);
  }
  .list_item__VVizU.list_active__ahAYX,
  .list_item__VVizU:hover {
    background-color: var(--ctp-surface2);
  }
  .button_btn__ln0Hv {
    color: var(--accent);
    background-color: var(--ctp-surface0);
  }

  .navbarMobile_footer__y5Kwi.navbarMobile_dark__eIcxf .navbarMobile_icons__tirr9, .navbarMobile_footer__y5Kwi.navbarMobile_dark__eIcxf .navbarMobile_toc__iPfvP, .navbarMobile_footer__y5Kwi.navbarMobile_grey__5dmnP .navbarMobile_icons__tirr9, .navbarMobile_footer__y5Kwi.navbarMobile_grey__5dmnP .navbarMobile_toc__iPfvP {
    background-color: var(--ctp-surface1);
    color: var(--ctp-text);
  }
  .tooltip_tooltip_QQr79.tooltip_dark_ZWBHd,
  .tooltip_tooltip_QQr79.tooltip_dark_ZWBHd > * > * {
    background-color: var(--ctp-crust) !important;
  }
  .dropdown_item__yrn67:hover {
    background-color: var(--ctp-surface2);
    color: var(--accent);
    border-color: var(--accent) !important;
  }
  .audio_dot__jeWOr.audio_active__li6PM {
    background-color: var(--accent);
  }
  .audio_dot__jeWOr {
    background-color: var(--ctp-surface2);
    box-shadow: 6.666px 0 0 0px var(--ctp-surface2);
    border-radius: 0px;
    border: 1px solid var(--ctp-surface2) !important;
  }
  .gallery_icon__7LOBi {
    background-color: var(--ctp-surface2);
    color: var(--subtext1);
  }
  .gallery_disable__1QuKw {
    background-color: var(--ctp-surface0);
  }
  .gallery_icon__7LOBi:hover {
    background-color: var(--ctp-overlay0);
    color: var(--accent);
  }
  .gallery_nav__BEeM3 {
    background-color: var(--ctp-base);
  }
  .image_wrapper__Dq3Jq {
    background-color: var(--ctp-crust);
  }
  .stage_caption__BvSjQ {
    color: var(--ctp-subtext0);
  }
  .gallery_wrapper__1a7bM,
  .thumbnails_wrapper__1Q5be {
    background-color: var(--ctp-mantle) !important;
  }
  .thumbnails_thumbnail__H4tNf {
    background-color: #fafafa;
    border-radius: 4px;
    padding: 4px;
  }

  .list_loading__j43_R {
    color: var(--accent);
  }
  .info_wrapper__HpdJH,
  .info_arrow__ehjUI {
    background-color: var(--ctp-surface1);
    border-color: var(--ctp-surface1);
  }

  .info_wrapper__HpdJH::after {
    background: linear-gradient(
      180deg,
      hsla(0, 0%, 98%, 0),
      var(--ctp-surface1) 90%
    );
  }
  .list_item__VVizU.list_active__ahAYX {
    color: var(--accent);
  }
  .item_star__arENF {
    color: var(--subtext1);
  }
  .item_star__arENF.item_active__4kaIV {
    color: var(--ctp-yellow);
  }
  .action_action___vLQg.action_remove__z6g_k {
    color: var(--ctp-text);
  }
  .action_action___vLQg:not(.action_limit__u0EDs):hover.action_remove__z6g_k {
    color: var(--accent);
  }
  .item_remove__f1A5k {
    background-color: var(--ctp-surface1);
  }
  .item_remove__f1A5k span,
  .item_remove__f1A5k svg {
    color: var(--ctp-red);
  }
  caption {
    background-color: var(--ctp-surface0) !important;
    border-color: var(--ctp-surface0) !important;
  }
  .summary_wordtuneWrapper__21QxG > img:nth-child(2) {
    background-color: var(--accent);
  }
  code > a {
    color: var(--accent) !important;
  }
  table * {
    background-color: var(--ctp-surface0) !important;
    color: var(--ctp-text) !important;
    border-color: var(--ctp-surface2) !important;
  }
  table {
    background-color: var(--ctp-surface0) !important;
    border: none !important;
  }
  a.wl {
    color: var(--accent) !important;
  }
  .summary_footer__Lk6z7 > span:nth-child(1),
  svg.icon_icon__0vohI,
  .icon_icon__0vohI.input_icon__He3sV,
  svg.icon_icon__0vohI:nth-child(2) > use:nth-child(1) {
    color: var(--accent);
    fill: var(--accent);
  }
}
