/* ==UserStyle==
@name           Libreddit Catppuccin
@namespace      github.com/catppuccin/libreddit
@version        2.0.2
@description    Soothing pastel theme for Libreddit
@author         Catppuccin
@updateURL      https://github.com/catppuccin/libreddit/raw/main/catppuccin.user.css
@preprocessor   stylus
@var select theme "Theme" ["Latte", "Frappe", "Macchiato", "Mocha*"]
==/UserStyle== */
@-moz-document domain("libredd.it"), domain("libreddit.spike.codes"), domain("libreddit.dothq.co"), domain("libreddit.kavin.rocks"), domain("reddit.invak.id"), domain("reddit.phii.me"), domain("lr.riverside.rocks"), domain("libreddit.strongthany.cc"), domain("libreddit.database.red"), domain("libreddit.privacy.com.de"), domain("libreddit.domain.glass"), domain("libreddit.sugoma.tk"), domain("libreddit.jamiethalacker.dev"), domain("reddit.artemislena.eu"), domain("r.nf"), domain("libreddit.some-things.org"), domain("reddit.stuehieyr.com"), domain("lr.mint.lgbt"), domain("libreddit.igna.rocks"), domain("libreddit.autarkic.org"), domain("libreddit.flux.industries"), domain("libreddit.drivet.xyz"), domain("lr.oversold.host"), domain("libreddit.de"), domain("libreddit.pussthecat.org"), domain("libreddit.mutahar.rocks"), domain("libreddit.northboot.xyz"), domain("leddit.xyz"), domain("de.leddit.xyz"), domain("lr.cowfee.moe"), domain("libreddit.hu"), domain("libreddit.totaldarkness.net"), domain("libreddit.esmailelbob.xyz"), domain("lr.vern.cc"), domain("libreddit.nl"), domain("lr.stilic.ml"), domain("reddi.tk"), domain("libreddit.bus-hit.me"), domain("libreddit.datatunnel.xyz"), domain("libreddit.crewz.me"), domain("r.walkx.org"), domain("libreddit.kylrth.com"), domain("libreddit.yonalee.eu"), domain("libreddit.winscloud.net"), domain("libreddit.tiekoetter.com"), domain("reddit.rtrace.io"), domain("libreddit.lunar.icu"), domain("libreddit.privacydev.net"), domain("libreddit.notyourcomputer.net"), domain("r.ahwx.org"), domain("bob.fr.to"), domain("reddit.beparanoid.de"), domain("libreddit.dcs0.hu"), domain("reddit.dr460nf1r3.org"), domain("rd.jae.su"), domain("libreddit.mha.fi"), domain("libreddit.foss.wtf"), domain("libreddit.encrypted-data.xyz"), domain("libreddit.eu.org"), domain("l.opnxng.com") {

	if (theme=="Latte") {

		$type = light

		$rosewater = #dc8a78
		$flamingo = #dd7878
		$pink = #ea76cb
		$mauve = #8839ef
		$red = #d20f39
		$maroon = #e64553
		$peach = #fe640b
		$yellow = #df8e1d
		$green = #40a02b
		$teal = #179299
		$sky = #04a5e5
		$sapphire = #209fb5
		$blue = #1e66f5
		$lavender = #7287fd

		$text = #4c4f69
		$subtext1 = #5c5f77
		$subtext0 = #6c6f85
		$overlay2 = #7c7f93
		$overlay1 = #8c8fa1
		$overlay0 = #9ca0b0
		$surface2 = #acb0be
		$surface1 = #bcc0cc
		$surface0 = #ccd0da
		$base = #eff1f5
		$mantle = #e6e9ef
		$crust = #dce0e8

	}

	else if (theme=="Frappe") {

		$type = dark

		$rosewater = #f2d5cf
		$flamingo = #eebebe
		$pink = #f4b8e4
		$mauve = #ca9ee6
		$red = #e78284
		$maroon = #ea999c
		$peach = #ef9f76
		$yellow = #e5c890
		$green = #a6d189
		$teal = #81c8be
		$sky = #99d1db
		$sapphire = #85c1dc
		$blue = #8caaee
		$lavender = #babbf1

		$text = #c6d0f5
		$subtext1 = #b5bfe2
		$subtext0 = #a5adce
		$overlay2 = #949cbb
		$overlay1 = #838ba7
		$overlay0 = #737994
		$surface2 = #626880
		$surface1 = #51576d
		$surface0 = #414559
		$base = #303446
		$mantle = #292c3c
		$crust = #232634

	}

	else if (theme=="Macchiato") {

		$type = dark

		$rosewater = #f4dbd6
		$flamingo = #f0c6c6
		$pink = #f5bde6
		$mauve = #c6a0f6
		$red = #ed8796
		$maroon = #ee99a0
		$peach = #f5a97f
		$yellow = #eed49f
		$green = #a6da95
		$teal = #8bd5ca
		$sky = #91d7e3
		$sapphire = #7dc4e4
		$blue = #8aadf4
		$lavender = #b7bdf8

		$text = #cad3f5
		$subtext1 = #b8c0e0
		$subtext0 = #a5adcb
		$overlay2 = #939ab7
		$overlay1 = #8087a2
		$overlay0 = #6e738d
		$surface2 = #5b6078
		$surface1 = #494d64
		$surface0 = #363a4f
		$base = #24273a
		$mantle = #1e2030
		$crust = #181926

	}

	else if (theme=="Mocha") {

		$type = dark

		$rosewater = #f5e0dc
		$flamingo = #f2cdcd
		$pink = #f5c2e7
		$mauve = #cba6f7
		$red = #f38ba8
		$maroon = #eba0ac
		$peach = #fab387
		$yellow = #f9e2af
		$green = #a6e3a1
		$teal = #94e2d5
		$sky = #89dceb
		$sapphire = #74c7ec
		$lavender = #b4befe
		$blue = #89b4fa

		$text = #cdd6f4
		$subtext1 = #bac2de
		$subtext0 = #a6adc8
		$overlay2 = #9399b2
		$overlay1 = #7f849c
		$overlay0 = #6c7086
		$surface2 = #585b70
		$surface1 = #45475a
		$surface0 = #313244
		$base = #1e1e2e
		$mantle = #181825
		$crust = #11111b

	}


	.light,
	.dark,
    .black,
    .dracula,
    .gold,
    .laserwave,
    .nord,
    .rosebox,
    .violet,
    :root, .dark,
    :root, .light {
		--accent: $lavender;
		--green: $green;
		--text: $text;
		--foreground: $crust;
		--background: $base;
		--outside: $mantle;
		--post: $mantle;
		--panel-border: none;
		--highlighted: $surface0;
		--visited: $overlay0;
		--shadow: 0 5px 15px 0 transparent;

		--nsfw: $peach;
		--admin: $maroon;

	}

}
