/* ==UserStyle==
@name           NixOS Search Catppuccin
@namespace      github.com/catppuccin/userstyles/styles/nixos-search
@version        0.1.1
@description    Soothing pastel theme for NixOS Search
@author         Catppuccin
@updateURL      https://github.com/catppuccin/userstyles/raw/main/styles/nixos-search/catppuccin.user.css
@preprocessor   stylus
@var select theme "Theme" ["latte:Latte*", "frappe:Frappe", "macchiato:Macchiato", "mocha:Mocha"]
@var select accent "Accent" ["'rosewater'", "'flamingo'", "'pink'", "'mauve'", "'red'", "'maroon'", "'peach'", "'yellow'", "'green'", "'teal'", "'blue'*", "'sapphire'", "'sky'", "'lavender'"]
==/UserStyle== */
@-moz-document domain("search.nixos.org") {
    @import url("https://unpkg.com/@catppuccin/palette@0.1.6/css/catppuccin.css");
    :root { 
        --ctp-rosewater: var(--ctp- + theme + "-rosewater");
        --ctp-flamingo: var(--ctp- + theme + "-flamingo");
        --ctp-pink: var(--ctp- + theme + "-pink");
        --ctp-mauve: var(--ctp- + theme + "-mauve");
        --ctp-red: var(--ctp- + theme + "-red");
        --ctp-maroon: var(--ctp- + theme + "-maroon");
        --ctp-peach: var(--ctp- + theme + "-peach");
        --ctp-yellow: var(--ctp- + theme + "-yellow");
        --ctp-green: var(--ctp- + theme + "-green");
        --ctp-teal: var(--ctp- + theme + "-teal");
        --ctp-sky: var(--ctp- + theme + "-sky");
        --ctp-sapphire: var(--ctp- + theme + "-sapphire");
        --ctp-blue: var(--ctp- + theme + "-blue");
        --ctp-lavender: var(--ctp- + theme + "-lavender");
        --ctp-text: var(--ctp- + theme + "-text");
        --ctp-subtext0: var(--ctp- + theme + "-subtext0");
        --ctp-overlay2: var(--ctp- + theme + "-overlay2");
        --ctp-overlay0: var(--ctp- + theme + "-overlay0");
        --ctp-surface2: var(--ctp- + theme + "-surface2");
        --ctp-surface1: var(--ctp- + theme + "-surface1");
        --ctp-surface0: var(--ctp- + theme + "-surface0");
        --ctp-base: var(--ctp- + theme + "-base");
        --ctp-mantle: var(--ctp- + theme + "-mantle");
        --ctp-crust: var(--ctp- + theme + "-crust");
        --ctp-accent: var(--ctp- + accent);
    }

    /* Generic */
    html,
    body {
        background-color: var(--ctp-base);
        color: var(--ctp-text);
    }

    code,
    pre {
        color: var(--ctp-red);
        background-color: var(--ctp-surface0);
        border: none;
    }

    a,
    a:hover,
    a:focus {
        color: var(--ctp-accent);
        outline: none;
    }

    /* Navbar */
    .navbar .navbar-static-top {
        background-color: var(--ctp-mantle);
    }

    .navbar-inner {
        background-color: var(--ctp-mantle);
        background-image: none;
        border: 1px solid var(--ctp-base);
    }

    .nav-tabs {
        border-bottom: 1px solid var(--ctp-surface0);
    }

    .nav-tabs > .active > a,
    .nav-tabs > .active > a:hover,
    .nav-tabs > .active > a:focus {
        background-color: var(--ctp-base);
        border: 1px solid var(--ctp-surface0);
        color: var(--ctp-text);
    }

    .navbar .nav > li > a {
        text-shadow: none;
        color: var(--ctp-subtext0);
    }

    .navbar .nav > li > a:focus,
    .navbar .nav > li > a:hover {
        color: var(--ctp-text);
        border: none;
    }

    .navbar .nav > .active > a,
    .navbar .nav > .active > a:hover,
    .navbar .nav > .active > a:focus {
        background-color: var(--ctp-surface0);
        color: var(--ctp-text);
    }

    /* Installation instructions tabs */
    .nav > li > a:hover,
    .nav > li > a:focus {
        background-color: var(--ctp-surface0);
        border: 1px solid var(--ctp-surface0);
    }

    /* "Experimental" label */
    .label,
    .badge {
        background-color: var(--ctp-accent);
        color: var(--ctp-crust);
        text-shadow: none;
    }

    /* Buttons */
    .btn {
        background-color: var(--ctp-surface0);
        background-image: none;
        text-shadow: none;
        box-shadow: none;
        color: var(--ctp-text);
        border: 1px solid var(--ctp-base);
    }

    .btn:focus {
        outline: none;
        color: var(--ctp-text);
        background-color: var(--ctp-surface1);
    }

    .btn:hover,
    .btn:active,
    .btn.active,
    .btn.disabled,
    .btn[disabled] {
        background-color: var(--ctp-surface1);
        color: var(--ctp-text);
    }

    /* "Sort" menu */
    .dropdown-menu {
        background-color: var(--ctp-mantle);
        border: 1px solid var(--ctp-crust);
        box-shadow: 0 5px 10px var(--ctp-mantle);
    }

    .dropdown-menu > li > a {
        color: var(--ctp-text);
    }

    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus,
    .dropdown-submenu:hover > a,
    .dropdown-submenu:focus > a {
        background-color: var(--ctp-surface0);
        background-image: none;
    }

    .dropdown-menu .divider {
        background-color: var(--ctp-surface0);
        border-bottom: var(--ctp-surface0);
    }

    .dropdown .caret {
        border-top: 4px solid var(--ctp-text);
    }

    /* Overrides menu item hover color */
    .search-page > .search-results > div > :first-child > div:first-child > ul > li > a {
        color: var(--ctp-text);
    }

    /* Loading indicator */
    .loader {
        color: var(--ctp-crust);
    }

    /* Input box */
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
        background-color: var(--ctp-surface0);
        color: var(--ctp-text);
        border: 1px solid var(--ctp-base);
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus {
        border-color: var(--ctp-accent);
        box-shadow: inset 0 1px 1px var(--ctp-crust), 0 0 8px var(--ctp-accent);
    }

    /* Fix input box placeholder text */
    textarea::placeholder,
    input[type="text"]::placeholder,
    input[type="password"]::placeholder,
    input[type="datetime"]::placeholder,
    input[type="datetime-local"]::placeholder,
    input[type="date"]::placeholder,
    input[type="month"]::placeholder,
    input[type="time"]::placeholder,
    input[type="week"]::placeholder,
    input[type="number"]::placeholder,
    input[type="email"]::placeholder,
    input[type="url"]::placeholder,
    input[type="search"]::placeholder,
    input[type="tel"]::placeholder,
    input[type="color"]::placeholder,
    .uneditable-input::placeholder {
        color: var(--ctp-subtext0);
    }

    /* Search results */
    .search-page > .search-results > div > :nth-child(2) > li {
        border-bottom: 1px solid var(--ctp-surface0);
    }

    .search-page > .search-results > div > :nth-child(2) > li > :first-child {
        color: var(--ctp-accent);
    }

    .search-page > .search-results > div > :nth-child(2) > li.package > :nth-child(5) > :nth-child(2) ul.nav-tabs > li > a {
        color: var(--ctp-text);
    }

    .search-page > .search-results > div > :nth-child(2) > li.package > :nth-child(5) > :nth-child(2) pre {
        color: var(--ctp-text);
        background-color: var(--ctp-mantle);
        border: none;
    }

    .search-page > .search-results > div > :nth-child(2) > li.package .result-item-show-more {
        background-color: var(--ctp-base);
        color: var(--ctp-text);
    }

    .search-page > .search-results > div > :nth-child(2) > li.package > :nth-child(3) > li {
        color: var(--ctp-text);
    }

    .search-page > .search-results > div > :nth-child(2) > li.package > :nth-child(5) > :nth-child(2) div.tab-content {
        border: 1px solid var(--ctp-surface0);
    }

    .search-page > .search-results > div > :nth-child(2) > li.option > :nth-child(2) > div:nth-child(2n) pre code {
        color: var(--ctp-text);
        background-color: var(--ctp-mantle);
    }

    /* Search sidebar */
    .search-page ul.search-sidebar > li {
        border-color: var(--ctp-surface0);
    }

    .search-page ul.search-sidebar > li > ul > li > a {
        color: var(--ctp-text);
    }

    .search-page ul.search-sidebar > li > ul > li > a:hover {
        background-color: var(--ctp-surface0);
    }

    .search-page ul.search-sidebar > li > ul > li > a.selected {
        color: var(--ctp-crust);
        background-color: var(--ctp-accent);
    }

    /* Override sidebar labels (number of packages) */
    .search-sidebar .label,
    .search-sidebar .badge {
        background-color: var(--ctp-surface0);
        color: var(--ctp-text);
        text-shadow: none;
    }

    /* Pager */
    .pager li > a,
    .pager li > span {
        color: var(--ctp-text);
        background-color: var(--ctp-surface0);
        border: none;
        border-radius: 5px;
    }

    .pager li > a:hover,
    .pager li > a:focus {
        background-color: var(--ctp-surface1);
        transition: all;
        transition-duration: 5ms;
    }

    .pager .disabled > a,
    .pager .disabled > a:hover,
    .pager .disabled > a:focus,
    .pager .disabled > span {
        color: var(--ctp-text);
        background-color: var(--ctp-mantle);
        border: none;
        border-radius: 5px;
    }
}
