/* ==UserStyle==
@name           Nitter Catppuccin
@namespace      github.com/catppuccin/nitter
@version        2.0.2
@description    Soothing pastel theme for Nitter
@author         Catppuccin
@updateURL      https://github.com/catppuccin/nitter/raw/main/src/NitterCatppuccin.user.css
@preprocessor   stylus
@var select theme "Theme" ["Latte", "Frappe", "Macchiato", "Mocha*"]
@var select accent-color "Accent" ["Rosewater*", "Flamingo", "Pink", "Mauve", "Red", "Maroon", "Peach", "Yellow", "Green", "Teal", "Blue", "Sapphire", "Sky", "Lavender", "Gray"]
==/UserStyle== */
@-moz-document domain("nitter.net"), domain("nitter.unixfox.eu"), domain("nitter.42l.fr"), domain("nitter.fdn.fr"), domain("nitter.1d4.us"), domain("nitter.kavin.rocks"), domain("nitter.namazso.eu"), domain("nitter.hu"), domain("bird.trom.tf"), domain("nitter.it"), domain("twitter.censors.us"), domain("nitter.grimneko.de"), domain("n.hyperborea.cloud"), domain("nitter.ca"), domain("twitter.076.ne.jp"), domain("nitter.mstdn.social"), domain("nitter.fly.dev"), domain("nitter.weiler.rocks"), domain("nitter.sethforprivacy.com"), domain("nttr.stream"), domain("nitter.tiekoetter.com"), domain("nitter.spaceint.fr"), domain("nitter.privacy.com.denitter.mastodon.pro"), domain("nitter.notraxx.chnitter.poast.org"), domain("nitter.bird.froth.zone"), domain("nitter.dcs0.hu"), domain("twitter.beparanoid.de"), domain("n.ramle.be"), domain("nitter.cz"), domain("nitter.privacydev.net"), domain("tweet.lambda.dance"), domain("nitter.kylrth.com"), domain("nitter.oishi-ra.men"), domain("nitter.foss.wtf"), domain("nitter.priv.pw"), domain("t.com.sb") {

	if (theme=="Latte") {

		$type = light

        $rosewater =     222, 149, 132
        $flamingo =      221, 120, 120
        $pink =          236, 131, 208
        $mauve =         136, 57, 239
        $red =           210, 15, 57
        $maroon =        230, 69, 83
        $peach =         254, 100, 11
        $yellow =        228, 147, 32
        $green =         64, 160, 43
        $teal =          23, 146, 153
        $blue =          42, 110, 245
        $sapphire =      32, 159, 181
        $sky =           4, 165, 229
        $lavender =      114, 135, 253
        $text =          76, 79, 105
        $subtext1 =      92, 95, 119
        $subtext0 =      108, 111, 133
        $overlay2 =      124, 127, 147
        $overlay1 =      140, 143, 161
        $overlay0 =      156, 160, 176
        $surface2 =      172, 176, 190
        $surface1 =      188, 192, 204
        $surface0 =      204, 208, 218
        $base =          239, 241, 245
        $mantle =        230, 233, 239
        $crust =         220, 224, 232

	}

	else if (theme=="Frappe") {

		$type = dark

        $rosewater =     242, 213, 207
        $flamingo =      238, 190, 190
        $pink =          244, 184, 228
        $mauve =         202, 158, 230
        $red =           231, 130, 132
        $maroon =        234, 153, 156
        $peach =         239, 159, 118
        $yellow =        229, 200, 144
        $green =         166, 209, 137
        $teal =          129, 200, 190
        $blue =          140, 170, 238
        $sapphire =      133, 193, 220
        $sky =           153, 209, 219
        $lavender =      186, 187, 241
        $text =          198, 206, 239
        $subtext1 =      181, 189, 220
        $subtext0 =      165, 172, 201
        $overlay2 =      148, 155, 183
        $overlay1 =      131, 138, 164
        $overlay0 =      115, 120, 145
        $surface2 =      98, 103, 126
        $surface1 =      81, 86, 108
        $surface0 =      65, 69, 89
        $base =          48, 52, 70
        $mantle =        41, 44, 60
        $crust =         35, 38, 52

	}

	else if (theme=="Macchiato") {

		$type = dark

        $rosewater =     244, 219, 214
        $flamingo =      240, 198, 198
        $pink =          245, 189, 230
        $mauve =         198, 160, 246
        $red =           237, 135, 150
        $maroon =        238, 153, 160
        $peach =         245, 169, 127
        $yellow =        238, 212, 159
        $green =         166, 218, 149
        $teal =          139, 213, 202
        $blue =          138, 173, 244
        $sapphire =      125, 196, 228
        $sky =           145, 215, 227
        $lavender =      183, 189, 248
        $text =          197, 207, 245
        $subtext1 =      179, 188, 224
        $subtext0 =      161, 170, 203
        $overlay2 =      143, 151, 183
        $overlay1 =      124, 131, 162
        $overlay0 =      108, 114, 141
        $surface2 =      90, 95, 120
        $surface1 =      72, 76, 100
        $surface0 =      54, 58, 79
        $base =          36, 39, 58
        $mantle =        30, 32, 48
        $crust =         24, 25, 38

	}

	else if (theme=="Mocha") {

		$type = dark

        $rosewater =     245, 224, 220
        $flamingo =      242, 205, 205
        $pink =          245, 194, 231
        $mauve =         203, 166, 247
        $red =           243, 139, 168
        $maroon =        235, 160, 172
        $peach =         250, 179, 135
        $yellow =        249, 226, 175
        $green =         166, 227, 161
        $teal =          148, 226, 213
        $blue =          135, 176, 249
        $sapphire =      116, 199, 236
        $sky =           137, 220, 235
        $lavender =      180, 190, 254
        $text =          198, 208, 245
        $subtext1 =      179, 188, 223
        $subtext0 =      161, 168, 201
        $overlay2 =      142, 149, 179
        $overlay1 =      123, 129, 157
        $overlay0 =      105, 109, 134
        $surface2 =      86, 89, 112
        $surface1 =      67, 70, 90
        $surface0 =      49, 50, 68
        $base =          30, 30, 46
        $mantle =        24, 24, 37
        $crust =         17, 17, 27

	}

	else if (theme=="Mocha-Old") {

		$type = dark

        $rosewater =     245, 224, 220
        $flamingo =      242, 205, 205
        $pink =          245, 194, 231
        $mauve =         221, 182, 242
        $red =           242, 143, 173
        $maroon =        232, 161, 174
        $peach =         248, 189, 150
        $yellow =        250, 227, 176
        $green =         171, 233, 179
        $teal =          181, 232, 224
        $blue =          150, 205, 251
        $sapphire =      116, 199, 236
        $sky =           137, 220, 235
        $lavender =      201, 203, 255
        $text =          217, 224, 238
        $subtext1 =      195, 186, 198
        $subtext0 =      152, 139, 162
        $overlay2 =      110, 108, 126
        $overlay1 =      87, 82, 104
        $overlay0 =      108, 112, 134
        $surface2 =      88, 91, 112
        $surface1 =      69, 71, 90
        $surface0 =      48, 45, 65
        $base =          30, 30, 46
        $mantle =        26, 24, 38
        $crust =         22, 19, 32

	}

/*----------------------LIKED COLORS-------------------------*/
    if (accent-color=="Rosewater") {
            $accent-color = $rosewater
    } else if (accent-color=="Flamingo") {
            $accent-color = $flamingo
    } else if (accent-color=="Pink") {
        $accent-color = $pink
    } else if (accent-color=="Mauve") {
            $accent-color = $mauve
    } else if (accent-color=="Red") {
        $accent-color = $red
    } else if (accent-color=="Maroon") {
        $accent-color = $maroon
    } else if (accent-color=="Peach") {
        $accent-color = $peach
    } else if (accent-color=="Yellow") {
        $accent-color = $yellow
    } else if (accent-color=="Green") {
        $accent-color = $green
    } else if (accent-color=="Teal") {
        $accent-color = $teal
    } else if (accent-color=="Blue") {
        $accent-color = $blue
        --verified_blue: rgb($peach) !important;
    } else if (accent-color=="Sapphire") {
        $accent-color = $sapphire
    } else if (accent-color=="Sky") {
        $accent-color = $sky
    } else if (accent-color=="Lavender") {
        $accent-color = $lavender
    }  else if (accent-color=="Gray") {
        $accent-color = $subtext0
    }

    /*----------PREDEFINED COLORS-------------*/

    body {
        --bg_color: rgb($mantle);
        --fg_color: rgb($text);
        --fg_faded: rgba($text, 0.8);
        --fg_dark: rgb($accent-color);
        --fg_nav: rgb($accent-color);
        --bg_panel: rgb($crust);
        --bg_elements: rgb($base);
        --bg_overlays: rgb($base);
        --bg_hover: rgb($crust);
        --grey: rgb($subtext1);
        --dark_grey: rgb($overlay0);
        --darker_grey: rgb($base);
        --darkest_grey: rgb($mantle);
        --border_grey: rgb($base);
        --accent: rgb($accent-color);
        --accent_light: rgb($accent-color);
        --accent_dark: rgb($accent-color);
        --accent_border: rgba($accent-color, 0.7);
        --play_button: rgb($accent-color);
        --play_button_hover: rgb($accent-color);
        --more_replies_dots: rgb($accent-color, 0.7);
        --error_red: rgb($red);
        --verified_blue: rgb($blue);
        --icon_text: rgb($text);
        --tab: rgb($text);
        --tab_selected: rgb($accent-color);
        --profile_stat: rgb($text);
        background-color: var(--bg_color);
        color: var(--fg_color);
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.3;
        margin: 0;
    }
    /*- Fix Poll Leader color -*/
    .poll-meter.leader {
        color: var(--bg_color);
    }
}
