/* ==UserStyle==
@name           AniList Catppuccin
@namespace      github.com/catppuccin/anilist
@version        2.0.7
@description    Soothing pastel theme for AniList
@author         Catppuccin
@updateURL      https://github.com/catppuccin/anilist/raw/main/src/AnilistCatppuccin.user.css
@preprocessor   stylus
@var select theme "Theme" ["Latte", "Frappe", "Macchiato", "Mocha*"]
@var select accent "Accent" ["Rosewater*", "Flamingo", "Pink", "Mauve", "Red", "Maroon", "Peach", "Yellow", "Green", "Teal", "Blue", "Sapphire", "Sky", "Lavender", "Gray"]
@var select contrast-color "Contrast Color" ["Rosewater", "Flamingo", "Pink", "Mauve", "Red*", "Maroon", "Peach", "Yellow", "Green", "Teal", "Blue", "Sapphire", "Sky", "Lavender", "Gray"]
==/UserStyle== */
@-moz-document domain("anilist.co"), domain("anichart.net") {

	if (theme=="Latte") {

		$type = light

        $rosewater =     222, 149, 132
        $flamingo =      221, 120, 120
        $pink =          236, 131, 208
        $mauve =         136, 57, 239
        $red =           210, 15, 57
        $maroon =        230, 69, 83
        $peach =         254, 100, 11
        $yellow =        228, 147, 32
        $green =         64, 160, 43
        $teal =          23, 146, 153
        $blue =          42, 110, 245
        $sapphire =      32, 159, 181
        $sky =           4, 165, 229
        $lavender =      114, 135, 253
        $text =          76, 79, 105
        $subtext1 =      92, 95, 119
        $subtext0 =      108, 111, 133
        $overlay2 =      124, 127, 147
        $overlay1 =      140, 143, 161
        $overlay0 =      156, 160, 176
        $surface2 =      172, 176, 190
        $surface1 =      188, 192, 204
        $surface0 =      204, 208, 218
        $base =          239, 241, 245
        $mantle =        230, 233, 239
        $crust =         220, 224, 232

	}

	else if (theme=="Frappe") {

		$type = dark

        $rosewater =     242, 213, 207
        $flamingo =      238, 190, 190
        $pink =          244, 184, 228
        $mauve =         202, 158, 230
        $red =           231, 130, 132
        $maroon =        234, 153, 156
        $peach =         239, 159, 118
        $yellow =        229, 200, 144
        $green =         166, 209, 137
        $teal =          129, 200, 190
        $blue =          140, 170, 238
        $sapphire =      133, 193, 220
        $sky =           153, 209, 219
        $lavender =      186, 187, 241
        $text =          198, 206, 239
        $subtext1 =      181, 189, 220
        $subtext0 =      165, 172, 201
        $overlay2 =      148, 155, 183
        $overlay1 =      131, 138, 164
        $overlay0 =      115, 120, 145
        $surface2 =      98, 103, 126
        $surface1 =      81, 86, 108
        $surface0 =      65, 69, 89
        $base =          48, 52, 70
        $mantle =        41, 44, 60
        $crust =         35, 38, 52

	}

	else if (theme=="Macchiato") {

		$type = dark

        $rosewater =     244, 219, 214
        $flamingo =      240, 198, 198
        $pink =          245, 189, 230
        $mauve =         198, 160, 246
        $red =           237, 135, 150
        $maroon =        238, 153, 160
        $peach =         245, 169, 127
        $yellow =        238, 212, 159
        $green =         166, 218, 149
        $teal =          139, 213, 202
        $blue =          138, 173, 244
        $sapphire =      125, 196, 228
        $sky =           145, 215, 227
        $lavender =      183, 189, 248
        $text =          197, 207, 245
        $subtext1 =      179, 188, 224
        $subtext0 =      161, 170, 203
        $overlay2 =      143, 151, 183
        $overlay1 =      124, 131, 162
        $overlay0 =      108, 114, 141
        $surface2 =      90, 95, 120
        $surface1 =      72, 76, 100
        $surface0 =      54, 58, 79
        $base =          36, 39, 58
        $mantle =        30, 32, 48
        $crust =         24, 25, 38

	}

	else if (theme=="Mocha") {

		$type = dark

        $rosewater =     245, 224, 220
        $flamingo =      242, 205, 205
        $pink =          245, 194, 231
        $mauve =         203, 166, 247
        $red =           243, 139, 168
        $maroon =        235, 160, 172
        $peach =         250, 179, 135
        $yellow =        249, 226, 175
        $green =         166, 227, 161
        $teal =          148, 226, 213
        $blue =          135, 176, 249
        $sapphire =      116, 199, 236
        $sky =           137, 220, 235
        $lavender =      180, 190, 254
        $text =          198, 208, 245
        $subtext1 =      179, 188, 223
        $subtext0 =      161, 168, 201
        $overlay2 =      142, 149, 179
        $overlay1 =      123, 129, 157
        $overlay0 =      105, 109, 134
        $surface2 =      86, 89, 112
        $surface1 =      67, 70, 90
        $surface0 =      49, 50, 68
        $base =          30, 30, 46
        $mantle =        24, 24, 37
        $crust =         17, 17, 27

	}

	else if (theme=="Mocha-Old") {

		$type = dark

        $rosewater =     245, 224, 220
        $flamingo =      242, 205, 205
        $pink =          245, 194, 231
        $mauve =         221, 182, 242
        $red =           242, 143, 173
        $maroon =        232, 161, 174
        $peach =         248, 189, 150
        $yellow =        250, 227, 176
        $green =         171, 233, 179
        $teal =          181, 232, 224
        $blue =          150, 205, 251
        $sapphire =      116, 199, 236
        $sky =           137, 220, 235
        $lavender =      201, 203, 255
        $text =          217, 224, 238
        $subtext1 =      195, 186, 198
        $subtext0 =      152, 139, 162
        $overlay2 =      110, 108, 126
        $overlay1 =      87, 82, 104
        $overlay0 =      108, 112, 134
        $surface2 =      88, 91, 112
        $surface1 =      69, 71, 90
        $surface0 =      48, 45, 65
        $base =          30, 30, 46
        $mantle =        26, 24, 38
        $crust =         22, 19, 32

	}
/*----------------------ACCENT COLORS-------------------------*/
    if (accent=="Rosewater") {
        $accent = $rosewater
    } else if (accent=="Flamingo") {
        $accent = $flamingo
    } else if (accent=="Pink") {
        $accent = $pink
    } else if (accent=="Mauve") {
        $accent = $mauve
    } else if (accent=="Red") {
        $accent = $red
    } else if (accent=="Maroon") {
        $accent = $maroon
    } else if (accent=="Peach") {
        $accent = $peach
    } else if (accent=="Yellow") {
        $accent = $yellow
    } else if (accent=="Green") {
        $accent = $green
    } else if (accent=="Teal") {
        $accent = $teal
    } else if (accent=="Blue") {
        $accent = $blue
    } else if (accent=="Sapphire") {
        $accent = $sapphire
    } else if (accent=="Sky") {
        $accent = $sky
    } else if (accent=="Lavender") {
        $accent = $lavender
    }  else if (accent=="Gray") {
        $accent = $subtext0
    }
    :root {
        --color-blue: $accent !important;
        --color-blue-dim: $accent !important;
        --color-overlay: $crust;
    }
    .signup[data-v-62eacfff], .join-btn[data-v-3428d21c] {
        background: rgb($accent) !important;
    }
    h2[data-v-a5dce466], .el-checkbox__input.is-checked+.el-checkbox__label, h2, h2[data-v-0f519cab] {
        color: rgb($accent);
    }
/*----------------------LIKED COLORS-------------------------*/
    if (contrast-color=="Rosewater") {
            $contrast-color = $rosewater
    } else if (contrast-color=="Flamingo") {
            $contrast-color = $flamingo
    } else if (contrast-color=="Pink") {
        $contrast-color = $pink
    } else if (contrast-color=="Mauve") {
            $contrast-color = $mauve
    } else if (contrast-color=="Red") {
        $contrast-color = $red
    } else if (contrast-color=="Maroon") {
        $contrast-color = $maroon
    } else if (contrast-color=="Peach") {
        $contrast-color = $peach
    } else if (contrast-color=="Yellow") {
        $contrast-color = $yellow
    } else if (contrast-color=="Green") {
        $contrast-color = $green
    } else if (contrast-color=="Teal") {
        $contrast-color = $teal
    } else if (contrast-color=="Blue") {
        $contrast-color = $blue
    } else if (contrast-color=="Sapphire") {
        $contrast-color = $sapphire
    } else if (contrast-color=="Sky") {
        $contrast-color = $sky
    } else if (contrast-color=="Lavender") {
        $contrast-color = $lavender
    }  else if (contrast-color=="Gray") {
        $contrast-color = $subtext0
    }

    /*----------BASE COLORS FOR ANILIST----------*/
    :root {
        --color-background: $crust;
        --color-foreground: $base;
        --color-foreground-grey: $surface0;
        --color-foreground-grey-dark: $surface0;
        --color-foreground-blue: $mantle;
        --color-foreground-blue-dark: $mantle;
        --color-background-blue-dark: $subtext1;
        --color-overlay: $crust;
        --color-shadow: $mantle;
        --color-shadow-dark: $crust;
        --color-shadow-blue: $blue;
        --color-text: $text;
        --color-text-light: $subtext1;
        --color-text-lighter: $subtext0;
        --color-text-bright: $text;
        --color-blue: $blue;
        --color-blue-dim: $sapphire;
        --color-white: 255,255,255;
        --color-black: 0,0,0;
        --color-red: $contrast-color;
        --color-peach: $maroon;
        --color-orange: $peach;
        --color-yellow: $yellow;
        --color-green: $green;
        --color-background-1200: $text;
        --color-background-1100: $text
        --color-background-1000: $text;
        --color-background-900: $subtext1;
        --color-background-800: $subtext0;
        --color-background-700: $surface1;
        --color-background-600: $surface0;
        --color-background-500: $surface0;
        --color-background-400: $surface0;
        --color-background-300: $base;
        --color-background-200: $mantle;
        --color-background-100: $crust;
        --color-gray-1200: $text;
        --color-gray-1100: $text;
        --color-gray-1000: $text;
        --color-gray-900: $text;
        --color-gray-800: $overlay2;
        --color-gray-700: $overlay1;
        --color-gray-600: $overlay0;
        --color-gray-500: $surface2;
        --color-gray-400: $surface1;
        --color-gray-300: $surface0;
        --color-gray-200: $mantle;
        --color-gray-100: $crust;
        --color-blue-100: $white;
        --color-blue-200: $white;
        --color-blue-300: $white;
        --color-blue-400: $sapphire;
        --color-blue-500: $sapphire;
        --color-blue-600: $blue;
        --color-blue-700: $blue;
        --color-blue-800: $blue;
        --color-blue-900: $blue;
        --color-blue-1000: $blue;
        --color-green-100: $teal;
        --color-green-200: $green;
        --color-green-300: $green;
        --color-green-400: $green;
        --color-green-500: $green;
        --color-green-600: $green;
        --color-green-700: $green;
        --color-green-800: $green;
        --color-red-100: $white;
        --color-red-200: $flamingo;
        --color-red-300: $maroon;
        --color-red-400: $red;
        --color-red-500: $red;
        --color-red-600: $red;
        --color-red-700: $red;
    }
    .site-theme-dark {
        --color-background: $crust;
        --color-foreground: $base;
        --color-foreground-grey: $surface0;
        --color-foreground-grey-dark: $surface0;
        --color-foreground-blue: $mantle;
        --color-foreground-blue-dark: $mantle;
        --color-text: $text;
        --color-text-light: $subtext0;
        --color-text-lighter: $subtext1;
        --color-shadow-blue: $crust;
        --color-background-1200: $text;
        --color-background-1100: $text
        --color-background-1000: $text;
        --color-background-900: $subtext1;
        --color-background-800: $subtext0;
        --color-background-700: $surface1;
        --color-background-600: $surface0;
        --color-background-500: $surface0;
        --color-background-400: $surface0;
        --color-background-300: $base;
        --color-background-200: $mantle;
        --color-background-100: $crust;
        --color-gray-1200: $text;
        --color-gray-1100: $text;
        --color-gray-1000: $text;
        --color-gray-900: $text;
        --color-gray-800: $overlay2;
        --color-gray-700: $overlay1;
        --color-gray-600: $overlay0;
        --color-gray-500: $surface2;
        --color-gray-400: $surface1;
        --color-gray-300: $surface0;
        --color-gray-200: $mantle;
        --color-gray-100: $crust;
    }
    .site-theme-dark .nav-unscoped {
        background-color: rgb($mantle) !important;
    }
    /*----Tracking Status List Stuff----*/
    .site-theme-dark  .list[data-v-5776f768], .el-icon-arrow-down:before {
        color: rgb($mantle) !important;
    }
    .site-theme-dark .el-dropdown-menu, .site-theme-dark .el-dropdown-menu__item--divided:before, .el-select-dropdown {
        background-color: rgb($base) !important;
    }
    .site-theme-dark .el-dropdown-menu {
        border: 4px rgb($text) !important;
    }
    .site-theme-dark .el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
        color: rgb($crust) !important;
    }
    .site-theme-dark .el-dropdown-menu__item--divided {
        border-top-color: rgb(21,31,46);
    }
    .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
        background-color: rgb($mantle);
    }
    /*-----------------GREEN FIXES-----------------*/
    .user-page-unscoped.green {
         --color-blue: $green;
        --color-blue-dim: $green;
        --color-overlay: $crust;
    }
    .user-page-unscoped.green .progress .bar {
        background: linear-gradient(270deg,rgb($green), rgb($green));
    }

    /*-----------------BLUE FIXES-----------------*/
    .user-page-unscoped.blue {
        --color-blue: $blue;
       --color-blue-dim: $blue;
       --color-overlay: $crust;
    }
   .user-page-unscoped.purple .progress .bar {
         background: linear-gradient(270deg,rgb($blue), rgb($blue));
    }

    /*-----------------PURPLE FIXES-----------------*/
    .user-page-unscoped.purple {
         --color-blue: $mauve !important;
        --color-blue-dim: $mauve;
        --color-overlay: $crust;
    }
    .user-page-unscoped.purple .progress .bar {
          background: linear-gradient(270deg,rgb($mauve), rgb($mauve));
    }

    /*-----------------ORANGE FIXES-----------------*/
    .user-page-unscoped.orange {
        --color-blue: $peach !important;
       --color-blue-dim: $peach;
       --color-overlay: $crust;
    }
   .user-page-unscoped.orange .progress .bar {
         background: linear-gradient(270deg,rgb($peach), rgb($peach));
    }

    /*-----------------RED FIXES-----------------*/
    .user-page-unscoped.red {
        --color-blue: $red !important;
       --color-blue-dim: $red;
       --color-overlay: $crust;
    }
   .user-page-unscoped.red .progress .bar {
         background: linear-gradient(270deg,rgb($red), rgb($red));
    }

    /*-----------------PINK FIXES-----------------*/
    .user-page-unscoped.pink {
    --color-blue: $pink !important;
   --color-blue-dim: $pink;
   --color-overlay: $crust;
    }
    .user-page-unscoped.pink .progress .bar {
     background: linear-gradient(270deg,rgb($pink), rgb($pink));
    }
    /*-----------------GRAY FIXES-----------------*/
    .user-page-unscoped.gray {
    --color-blue: $overlay1 !important;
   --color-blue-dim: $overlay1;
   --color-overlay: $crust;
    }
    .user-page-unscoped.gray .progress .bar {
     background: linear-gradient(270deg,rgb($overlay1), rgb($overlay1));
    }

    /*---------SCORE TWEAKS--------------*/
    .score[data-v-5ca094da] { color: rgb($base); }

    /*--------------FOOTER (It's hardcoded idk why anilist dumdum)----------*/
    .footer[data-v-a5dce466], .landing[data-v-3428d21c], .footer, .footer[data-v-0f519cab]  {
        background-color: var(--color-background) !important;
    }

    /*------------------MISC EDITS--------------------*/
    /*--Reset button in notifications-----*/
    .reset-btn {
        color: rgb($base) !important;
    }
    /* Publish Button in Replies and Messages */
    .save {
        color: rgb($base) !important;
    }
    /*------------IMAGE COVER------------*/
    .cover .image-text, .plus-progress {
        color: rgb($text) !important;
    }

    .entry .plus-progress, .medialist.table .entry .edit { color: rgb($base) !important;}
    /*--------Settings button--------*/
    .settings[data-v-3deab077] .button {
        color: rgb($crust);
    }
    .el-checkbox__input.is-checked .el-checkbox__inner, .el-radio__input.is-checked .el-radio__inner {
        background-color: rgb($accent);
        border-color: rgb($accent);
    }
    .el-checkbox__inner:after {
        border-color: rgb($crust);
        border-width: 2px;
        left: 3px;
    }
    .el-radio__input.is-checked+.el-radio__label {
        color: rgb($accent);
    }
    /*--------HIDE SCROLLBAR IN BIO-----*/
    .section::-webkit-scrollbar {
        display: none;
    }
    .section {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    /*--------ANICHART SPECIFIC TWEAKS----*/
    .nav[data-v-e2f25004] {
        background: rgb($crust);
    }
    .season[data-v-e2f25004], .charts .label[data-v-e2f25004], .charts .svg-icon[data-v-e2f25004], .section:first-of-type .section-heading[data-v-309146c2], a.title[data-v-09928904] {
        color: rgb($text);
    }
    .season.router-link-active[data-v-e2f25004], .charts a:hover .svg-icon[data-v-e2f25004], .season[data-v-e2f25004]:hover, .charts .router-link-active .svg-icon[data-v-e2f25004] {
        color: rgb($accent);
    }
    .settings[data-v-3deab077] .button.danger { color: rgb($base); }
    /* AUTOMAIL TWEAK */
    .site-theme-dark .el-popper .el-dropdown-menu__item:focus, .el-popper .el-dropdown-menu__item:not(.is-disabled):hover {
        color: rgb($accent) !important;
    }
    .hohMediaScore { font-size: 90%; font-family: Overpass; border: 2px solid rgb($surface0); padding: 4px; border-radius: 10px; margin-left: 0px; background-color: rgb($base); color: rgb($accent); }
        .filter-group.compare-btn, .hohButton { color: rgb($base); }
    .hohButton { background-color: rgb($accent); }
    .medialist.table .entry:hover, .medialist.table .entry .title a:hover, .compare-btn[data-v-170179fc]:hover { color: rgb($base); }
    .hohCompare table { background-color: rgb($crust);  }
        .hohAnimeTable, .hohAnimeTable td, .hohUserRow td, .hohUserRow th, .hohHeaderRow td, .hohHeaderRow th { border: 2px solid rgb($surface0) !important; }
        .hohUserRow td { border-top: 4px solid rgb($surface0) !important; }
    .hohUserRow tr { border-right: 4px solid rgb($surface0) !important; }
    /*---------ANILIST LIKER PLUGIN------*/
    #AnilistLikerPlugin .mmd2 {
        font-style: normal !important;
        font-weight: 700;
        font-family: Overpass;
    }
    #AnilistLikerPlugin  .btntop { margin-bottom: -4px; margin-top: 5px; }
    #AnilistLikerPlugin .btnbottom { margin-top: -2px; }
}
