/* ==UserStyle==
@name           Modrinth Catppuccin
@namespace      github.com/catppuccin/modrinth
@version        1
@description    Soothing pastel theme for Modrinth
@author         Catppuccin
@preprocessor   stylus
@var select lighttheme "Light Variant" ["Latte*", "Frappe", "Macchiato", "Mocha"]
@var select darktheme "Dark Variant" ["Latte", "Frappe", "Macchiato", "Mocha*"]
==/UserStyle== */

@-moz-document domain("modrinth.com") {
    colourscheme(flavour) {
        if (flavour=="Latte") {
            --ctp-rosewater: #dc8a78;
            --ctp-flamingo: #dd7878;
            --ctp-pink: #ea76cb;
            --ctp-mauve: #8839ef;
            --ctp-red: #d20f39;
            --ctp-maroon: #e64553;
            --ctp-peach: #fe640b;
            --ctp-yellow: #df8e1d;
            --ctp-green: #40a02b;
            --ctp-teal: #179299;
            --ctp-sky: #04a5e5;
            --ctp-sapphire: #209fb5;
            --ctp-blue: #1e66f5;
            --ctp-lavender: #7287fd;
            --ctp-text: #4c4f69;
            --ctp-subtext1: #5c5f77;
            --ctp-subtext0: #6c6f85;
            --ctp-overlay2: #7c7f93;
            --ctp-overlay1: #8c8fa1;
            --ctp-overlay0: #9ca0b0;
            --ctp-surface2: #acb0be;
            --ctp-surface1: #bcc0cc;
            --ctp-surface0: #ccd0da;
            --ctp-base: #eff1f5;
            --ctp-mantle: #e6e9ef;
            --ctp-crust: #dce0e8;
            --ctp-shadow: #dbdfef;
        }
    
        if (flavour=="Frappe") {
            --ctp-rosewater: #f2d5cf;
            --ctp-flamingo: #eebebe;
            --ctp-pink: #f4b8e4;
            --ctp-mauve: #ca9ee6;
            --ctp-red: #e78284;
            --ctp-maroon: #ea999c;
            --ctp-peach: #ef9f76;
            --ctp-yellow: #e5c890;
            --ctp-green: #a6d189;
            --ctp-teal: #81c8be;
            --ctp-sky: #99d1db;
            --ctp-sapphire: #85c1dc;
            --ctp-blue: #8caaee;
            --ctp-lavender: #babbf1;
            --ctp-text: #c6d0f5;
            --ctp-subtext1: #b5bfe2;
            --ctp-subtext0: #a5adce;
            --ctp-overlay2: #949cbb;
            --ctp-overlay1: #838ba7;
            --ctp-overlay0: #737994;
            --ctp-surface2: #626880;
            --ctp-surface1: #51576d;
            --ctp-surface0: #414559;
            --ctp-base: #303446;
            --ctp-mantle: #292c3c;
            --ctp-crust: #232634;
            --ctp-shadow: #010409;
        }
    
        if (flavour=="Macchiato") {
            --ctp-rosewater: #f4dbd6;
            --ctp-flamingo: #f0c6c6;
            --ctp-pink: #f5bde6;
            --ctp-mauve: #c6a0f6;
            --ctp-red: #ed8796;
            --ctp-maroon: #ee99a0;
            --ctp-peach: #f5a97f;
            --ctp-yellow: #eed49f;
            --ctp-green: #a6da95;
            --ctp-teal: #8bd5ca;
            --ctp-sky: #91d7e3;
            --ctp-sapphire: #7dc4e4;
            --ctp-blue: #8aadf4;
            --ctp-lavender: #b7bdf8;
            --ctp-text: #cad3f5;
            --ctp-subtext1: #b8c0e0;
            --ctp-subtext0: #a5adcb;
            --ctp-overlay2: #939ab7;
            --ctp-overlay1: #8087a2;
            --ctp-overlay0: #6e738d;
            --ctp-surface2: #5b6078;
            --ctp-surface1: #494d64;
            --ctp-surface0: #363a4f;
            --ctp-base: #24273a;
            --ctp-mantle: #1e2030;
            --ctp-crust: #181926;
            --ctp-shadow: #010409;
        }
    
        if (flavour=="Mocha") {
            --ctp-rosewater: #f5e0dc;
            --ctp-flamingo: #f2cdcd;
            --ctp-pink: #f5c2e7;
            --ctp-mauve: #cba6f7;
            --ctp-red: #f38ba8;
            --ctp-maroon: #eba0ac;
            --ctp-peach: #fab387;
            --ctp-yellow: #f9e2af;
            --ctp-green: #a6e3a1;
            --ctp-teal: #94e2d5;
            --ctp-sky: #89dceb;
            --ctp-sapphire: #74c7ec;
            --ctp-lavender: #b4befe;
            --ctp-blue: #89b4fa;
            --ctp-text: #cdd6f4;
            --ctp-subtext1: #bac2de;
            --ctp-subtext0: #a6adc8;
            --ctp-overlay2: #9399b2;
            --ctp-overlay1: #7f849c;
            --ctp-overlay0: #6c7086;
            --ctp-surface2: #585b70;
            --ctp-surface1: #45475a;
            --ctp-surface0: #313244;
            --ctp-base: #1e1e2e;
            --ctp-mantle: #181825;
            --ctp-crust: #11111b;
            --ctp-shadow: #010409;
        }
    
      }

    .light-mode {
        if (lighttheme=="Latte")     { colourscheme(Latte) }
        if (lighttheme=="Frappe")    { colourscheme(Frappe) }
        if (lighttheme=="Macchiato") { colourscheme(Macchiato) }
        if (lighttheme=="Mocha")     { colourscheme(Mocha) }
      }
    .dark-mode {
        if (darktheme=="Latte")     { colourscheme(Latte) }
        if (darktheme=="Frappe")    { colourscheme(Frappe) }
        if (darktheme=="Macchiato") { colourscheme(Macchiato) }
        if (darktheme=="Mocha")     { colourscheme(Mocha) }
      }
    
      :root{
          --color-bg: var(--ctp-crust);
          --color-ad-raised: var(--ctp-surface2);
          --color-ad: var(--ctp-surface1);
          --color-brand-green: var(--ctp-green);
          --color-button-bg-active: var(--ctp-overlay0);
          --color-button-bg: var(--ctp-surface1);
          --color-button-text-hover: var(--ctp-text);
          --color-button-text: var(--ctp-subtext1);
          --color-divider: var(--ctp-surface0);
          --color-heading: var(--ctp-yellow);
          --color-icon: var(--ctp-text);
          --color-link-active: var(--ctp-teal);
          --color-link-hover: var(--ctp-sky);
          --color-link: var(--ctp-sapphire);
          --color-raised-bg: var(--ctp-base);
          --color-special-blue: var(--ctp-sapphire);
          --color-special-orange: var(--ctp-peach);
          --color-special-purple: var(--ctp-mauve);
          --color-special-red: var(--ctp-red);
          --color-text: var(--ctp-subtext1);
          --color-brand-inverted: var(--ctp-shadow);
          --color-text-dark: var(--ctp-text);
          --color-table-alternate-row: var(--ctp-crust);
          --color-table-border: var(--ctp-overlay0)
      }
  
  }