.dark {

    --accent:     #BABBF1; /* lavender */
    --green:      #A6D189; /* green */
    --text:       #C6D0F5; /* text */
    --foreground: #232634; /* crust */
    --background: #303446; /* base */
    --outside:    #232634; /* crust */
    --post:       #232634; /* crust */
    --panel-border: none;
    --highlighted:#414559; /* surface0 */
    --visited:    #737994; /* overlay0 */
    --shadow: 0 0 0 transparent;

    --nsfw:       #EF9F76; /* peach */
    --admin:      #EA999C; /* maroon */

}
