.light {

    --accent:     #7287fD; /* lavender */
    --green:      #40A02B; /* green */
    --text:       #4C4F69; /* text */
    --foreground: #DCE0E8; /* crust */
    --background: #EFF1F5; /* base */
    --outside:    #DCE0E8; /* crust */
    --post:       #DCE0E8; /* crust */
    --panel-border: none;
    --highlighted:#CCD0DA; /* surface0 */
    --visited:    #9CA0B0; /* overlay0 */
    --shadow: 0 0 0 transparent;

    --nsfw:       #FE640B; /* peach */
    --admin:      #E64553; /* maroon */

}
