.dark {

    --accent:     #B4BEFE; /* lavender */
    --green:      #A6E3A1; /* green */
    --text:       #CDD6F4; /* text */
    --foreground: #11111B; /* crust */
    --background: #1E1E2E; /* base */
    --outside:    #11111B; /* crust */
    --post:       #11111B; /* crust */
    --panel-border: none;
    --highlighted:#313244; /* surface0 */
    --visited:    #6C7086; /* overlay0 */
    --shadow: 0 0 0 transparent;

    --nsfw:       #FAB387; /* peach */
    --admin:      #EBA0AC; /* maroon */

}
