/* ==UserStyle==
@name           Youtube Music Catppuccin
@namespace      github.com/catppuccin/youtubemusic
@version        0.3.0
@description    Soothing pastel theme for Youtube Music
@author         Catppuccin
@preprocessor   stylus
@var select theme "Theme" ["Latte", "Frappe", "Macchiato", "Mocha*"]
@var select accent-color "Accent" ["Rosewater*", "Flamingo", "Pink", "Mauve", "Red", "Maroon", "Peach", "Yellow", "Green", "Teal", "Blue", "Sapphire", "Sky", "Lavender", "Text"]
==/UserStyle== */

@-moz-document domain("music.youtube.com") {

    if (theme == "Latte") {
        @import url("https://catppuccin.github.io/youtubemusic/src/latte.css");
    } else if (theme == "Frappe") {
        @import url("https://catppuccin.github.io/youtubemusic/src/frappe.css");
    } else if (theme == "Macchiato") {
        @import url("https://catppuccin.github.io/youtubemusic/src/macchiato.css");
    } else if (theme == "Mocha") {
        @import url("https://catppuccin.github.io/youtubemusic/src/mocha.css");
    }
    
    html:not(.style-scope) {    
        if (accent-color=="Rosewater") {
          --ctp-accent: var(--ctp-rosewater) !important;
      } else if (accent-color=="Flamingo") {
          --ctp-accent: var(--ctp-flamingo) !important;
      } else if (accent-color=="Pink") {
          --ctp-accent: var(--ctp-pink) !important;
      } else if (accent-color=="Mauve") {
          --ctp-accent: var(--ctp-mauve) !important;
      } else if (accent-color=="Red") {
          --ctp-accent: var(--ctp-red) !important;
      } else if (accent-color=="Maroon") {
          --ctp-accent: var(--ctp-maroon) !important;
      } else if (accent-color=="Peach") {
          --ctp-accent: var(--ctp-peach) !important;
      } else if (accent-color=="Yellow") {
          --ctp-accent: var(--ctp-yellow) !important;
      } else if (accent-color=="Green") {
          --ctp-accent: var(--ctp-green) !important;
      } else if (accent-color=="Teal") {
          --ctp-accent: var(--ctp-teal) !important;
      } else if (accent-color=="Blue") {
          --ctp-accent: var(--ctp-blue) !important;
      } else if (accent-color=="Sapphire") {
          --ctp-accent: var(--ctp-sapphire) !important;
      } else if (accent-color=="Sky") {
          --ctp-accent: var(--ctp-sky) !important;
      } else if (accent-color=="Lavender") {
          --ctp-accent: var(--ctp-lavender) !important;
      }  else if (accent-color=="Text") {
          --ctp-accent: var(--ctp-text) !important;
      }
    }
}