name: Deno Check

on:
  push:
    branches: [main]
    paths: ["**/*.ts"]
  pull_request:
    branches: [main]
    paths: ["**/*.ts"]

jobs:
  check:
    if: github.repository == 'catppuccin/userstyles'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup Deno
        uses: nekowinston/setup-deno@main
        with:
          deno-version: v2.3.5

      - name: Check
        run: |
          deno lint
          deno check **/*.ts
