name: Prettier

on:
  pull_request:
  push:
    branches: [main]

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.USERSTYLES_TOKEN }}
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.head_ref }}

      - name: Run prettier
        uses: creyD/prettier_action@v4.3
        with:
          commit_message: "style: format code with prettier"
          prettier_options: "--write styles/**/*.css"
