name: Issue Labeler

on:
  workflow_dispatch:
  issues:
    types: [opened, edited]

jobs:
  triage:
    name: Add labels
    runs-on: ubuntu-latest

    steps:
    - uses: github/issue-labeler@v3.1
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        configuration-path: .github/issue-labeler.yml
        enable-versioned-regex: 0
        include-title: 1
        sync-labels: 1
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
