name: Pull Request Labeler

on:
  pull_request_target:

jobs:
  triage:
    name: Add labels
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/labeler@v4.0.3
        with:
          configuration-path: .github/pr-labeler.yml
          sync-labels: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
